@import "expandable";
@import "tab";


/**
* Reusable classes and elements across the sheet. 
*/


.sheet-znz-center {
    text-align: center;
}

.sheet-znz-hidden {
    display: none;
}

.sheet-znz-flex {
    display: flex;

    &.sheet-spaced-between {
        justify-content: space-between;
    }
}

.sheet-znz-description {
    margin-top: 3px;
    font-size: $small;
    line-height: $small;
}

//span with a character and then the input
.sheet-znz-dice-prefixed-input {
    
    .sheet-znz-field-input {
        padding-left: 10px;
        position: relative;
        &:before {
            content: 'D';
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
}

.sheet-divider{
    font-size: $large;
    margin: 0 6px;
    font-weight: 900;
}

.sheet-znz-note {

    &-tiny {
        textarea {
            height: 30px;
        }
    }

    &-small {
        textarea {
            height: 50px;
        }
    }
}

input.sheet-znz-line-input {
    margin: 0;
    border: 0;
    padding: 2px;
    border-bottom: 1px solid $gray;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sheet-znz-line-input {
    input {
        margin: 0;
        border: 0;
        padding: 2px;
        border-bottom: 1px solid $gray;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.sheet-znz-dice-field {
    input[type=text] {
        width: 75px;
    }
}



// Bonus

.sheet-znz-bonus-checker-plus {
    display: none;

    &:checked {
        ~ .sheet-znz-bonus-display {
            display: block;
            color: darkgreen;

            &:before {
                content: "(+"
            }
        }
    }
}

.sheet-znz-bonus-checker-minus {
    &:checked {
        ~ .sheet-znz-bonus-display {
            display: block;
            color: red;

            &:before {
                content: "("
            }
        }
    }
}

.sheet-znz-bonus-display {
    display: none;

    &:after {
        content: ")";
    }
}


.sheet-znz-hidden-roll-button {
    background-color: transparent;
    border: none;
    background-image: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0!important;
    margin: 0!important;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    font-size: inherit!important;

    &:before {
        content: none!important;
    }

    &:hover {
        background-color: $orange;
    }
}
