//Section
.sheet-znz-section-skills {
    display: flex;

    h2 {
        text-align: center;
        border-bottom: solid 1px black;
        padding-bottom: 5px;
    }

    .sheet-znz-block {
        width: 50%;
        flex: 50%;
    }
}

//Select
.sheet-znz-skill-select {

    .sheet-znz-skill {
        margin-bottom: 2px;
        display: flex;
        justify-content: start;

        .sheet-znz-input {
            margin: 0 3px 3px 0;
        }

        .sheet-znz-label {
            display: flex;
            align-items: flex-end;
        }
        .sheet-znz-mod {
            margin-left: 2px;
            font-size: $small;
        }
    }
}