    <label>Ability</label>
    <div class="sheet-row-flex">
        <div class="sheet-ability-select">
            <select name="attr_{{data.abilities | getAttr}}">
                {% for opt in data.abilities.list %}
                    <option value="{{opt.name}}">{{opt.label}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="sheet-ability-text sheet-toggle-adj">
            {% for ability in data.abilities.list %}
                <input type="checkbox" class="sheet-control" name="attr_{{data.abilities | getAttr}}" value="{{ability.name}}" {{"checked" if ability.default}} />
                <div class="sheet-description-text sheet-content">
                    {{ability.description | safe}}
                </div>
            {% endfor %}
        </div>
    </div>