    <label>Armor</label>
    <div class="sheet-input">
        <input type="text" class="sheet-number sheet-shy sheet-amount" name="attr_{{data.character.armor | getAttr}}" value="{{data.character.armor.default}}"/>
    </div>