    <label>Defense</label>
    <div class="sheet-dice-input">
        <div>
            <span class="sheet-subtext">Max</span><input type="text" class="sheet-number sheet-shy sheet-amount" name="attr_{{data.character.defense | getAttr}}" value="{{data.character.defense.default}}"/><span>d</span><input type="text" class="sheet-number sheet-shy" name="attr_{{data.character.defense | getAttr}}" value="{{data.character.defense.default}}"/>
        </div>
        <div class="sheet-divider">
            +
        </div>
        <div>
            <input type="text" class="sheet-number sheet-shy" name="attr_{{data.character.defense.bonus | getAttr}}" value="0"/>
        </div>
    </div>