    <label>Dodge</label>
    <div class="sheet-dice-input">
        <div>
            <input type="text" class="sheet-number sheet-shy sheet-amount" name="attr_{{data.character.dodge | getAttr}}" value="{{data.character.dodge.default}}"/><span>d6</span>
            <div class="sheet-subtext">
                (roll costs 1 energy)
            </div>
        </div>
    </div>