<div class="sheet-header">
    <div class="sheet-area">
        {# Name, Health Energy #}
        <div class="sheet-row-flex">
            <div class="sheet-name sheet-bubble">{% include "./_notes.njk" %}</div>
            <div class="sheet-stat-blocks sheet-bubble">{% include "./_stats.njk" %}</div>
        </div>

        {# Defense, Slots #}
        <div class="sheet-row-flex">
            <div class="sheet-dodge sheet-bubble">{% include "./_dodge.njk" %}</div>
            <div class="sheet-armor sheet-bubble">{% include "./_armor.njk" %}</div>
            <div class="sheet-ability sheet-bubble">{% include "./_ability.njk" %}</div>
        </div>
    </div>

    {# Ammo #}
    <div class="sheet-bubble sheet-ammo-counter">{% include "./_ammo.njk"%}</div>
</div>