<div class="sheet-character">
    {% include "./header/header.njk" %} 

    {% import 'items/slot.njk' as slot %}


    {% for key, item in data.character.slots %}
    <div class="sheet-{{key}}">
        {{ slot.create(item.label, 'Unused Slot', item) }}
    </div>
    {% endfor %}
</div>

{# Sheet workers are injected here via Gulp process #}
<script type="text/worker">
    /** inject:workers **/
    /** endinject **/
</script>