{#  
    In the Gulp process, certain data is pulled in and added to the templates
    
    jsonData is an object containing all JSON data in the data folder 
    queryData is an object containing the exported results of any JS file in the data-query folder
   
    Access data through file name
        jsonData Example: accessing ./data/status.json is accessed through jsonData.status
        queryData Example" accessing ./data-query/attackFields.js is accessed through queryData.attackFields
#}

{% import 'macros/outputfield.njk' as basicField %}
{% import 'macros/resourceblock.njk' as resourceBlock %}


<div class="sheet-znz-character-sheet">
    <div class="sheet-header">
        {#----- Name Area ----- #}
        <div class="sheet-area-name">
            {% for fld in jsonData.misc.name %}
                {{ basicField.outputField( field=fld)}}
            {% endfor %}
        </div>

        {#----- Status ----- #}
        <div class="sheet-area-resource">
            <div class="sheet-res-row">
                {% for res in jsonData.resource %}
                    {{ resourceBlock.create(res) }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="sheet-body">
        <div class="sheet-tab-select">
            <input type='hidden' class='sheet-tab-toggle' name='attr_sheet_tab'  value='selectTabStats'  />
            <button type="action" class="sheet-tab-button sheet-tab-button-stats" name="act_selectTabStats" >Stats</button>
            <button type="action" class="sheet-tab-button sheet-tab-button-abilities" name="act_selectTabAbilities" >Abilities</button>
            <button type="action" class="sheet-tab-button sheet-tab-button-equipment" name="act_selectTabEquipment" >Equipment</button>
            <button type="action" class="sheet-tab-button sheet-tab-button-notes" name="act_selectTabNotes" >Notes</button>
        </div>
        <div class="sheet-tabs-content">
            <input type='hidden' class='sheet-tab-toggle' name='attr_sheet_tab'  value='selectTabStats'  />
            <div class="sheet-tab sheet-tab-stats">
                {% include "partials/stats-tab.njk" %}
            </div>
            <div class="sheet-tab sheet-tab-abilities">
                Abilities
            </div>
            <div class="sheet-tab sheet-tab-equipment">
                Equipment
            </div>
            <div class="sheet-tab sheet-tab-notes">
                Notes
            </div>
        </div>

    </div>
</div>


{# Sheet workers are injected here via Gulp process #}
<script type="text/worker">
    /** inject:workers **/
    /** endinject **/
</script>