
{% import 'macros/card.njk' as card %}
{% import 'macros/bubble.njk' as bubble %}


<div class="sheet-character">

    <div class="sheet-row-flex">
        <div class="sheet-main">
            <div class="sheet-row-flex">
                {{bubble.create(fields.character.stats.hp, 'max', 'Health')}}
                {{bubble.create(fields.character.stats.ap, 'max')}}
                {{bubble.create(fields.character.notes, 'textarea', class='flex-60')}}
            </div>
            {{bubble.create(fields.character.ability, 'toggleselect', class="extra-bottom")}}

            {% include "./sections/equipment.njk" %}
        </div>
        <div class="sheet-sidebar">
            {{bubble.create(fields.character.ammo, 'list', class="extra-bottom")}}
            {{bubble.create(fields.character.combatskills, 'list', class="extra-bottom")}}
            {{bubble.create(fields.character.skills, 'list', class="extra-bottom")}}
        </div>
    </div>
    {% include "./sections/inventory.njk" %}
    <div class="sheet-bottom">
        <div class="sheet-ap-pool">
        
        </div>
    </div>
</div>

{% include "./rolltemplates/zroll.njk" %}

{# Sheet workers are injected here via Gulp process #}
<script type="text/worker">
    /** inject:workers **/
    /** endinject **/
</script>



