{#  
    Sheet Field Data and other data is pulled from JSON in the data folder. This is imported into Nunjucks in a Gulp process.
    Since Sheet Fields are defined outside in a data file, we can just feed the data directly into a macro or into a nunjucks template
    
    Any JSON file in the data folder is fed into the template. You can access the JSON data through the 'jsonData' variable and then refer to the file name (ex jsonData.jsonfile if the JSON file in the data folder is called jsonfile.json)
#}

{% import 'partials/basicfields.njk' as basicFields %}
{% import 'partials/statblock.njk' as statblock %}
{% import 'partials/attrTable.njk' as attrTable %}
{% import 'partials/skillTable.njk' as skillTable %}
{% import 'partials/itemcard.njk' as itemcard %}

<div class="sheet-znz-character-sheet sheet-znz-grid-layout">
    {#----- Name Area ----- #}
    <div class="sheet-znz-area-name">
        {% for field in jsonData.fields.nameArea %}
            {{ basicFields.outputField(field)}}
        {% endfor %}
    </div>

    {#----- Stats ----- #}
    <div class="sheet-znz-area-status">
        <div class="sheet-znz-row">
            {% for stat in jsonData.fields.stats %}
            {{ statblock.create(stat) }}
            {% endfor %}
        </div>
    </div>
    
    <div class="sheet-znz-area-sidebar">
        {#----- Attributes ----- #}
        <div class="sheet-znz-section-attributes">
            {{ attrTable.create(jsonData.fields.attributes, jsonData.fields.attributeVals) }}
        </div>

        <div class="sheet-znz-section-skills">
            <div class="sheet-znz-block">
                {{ skillTable.create(jsonData.fields.skills, "Skills") }}
            </div>

            <div class="sheet-znz-block">
                {{ skillTable.create(jsonData.fields.skills, "Skills") }}
            </div>
        </div>
    </div>

    <div class="sheet-znz-area-main">
        {#----- Equipped Weapons ----- #}
        <div class="sheet-znz-section-weapons">
            <div class="sheet-znz-block sheet-znz-equipped-ranged">
                <h2>Equipped Ranged Weapon</h2>
                {{ itemcard.create('equipped_ranged', true, "Ranged Weapon", jsonData=jsonData) }}
            </div>
            <div class="sheet-znz-block sheet-znz-equipped-melee">
                <h2>Equipped Melee Weapon</h2>
                {{ itemcard.create('equipped_melee', true, "Melee Weapon", jsonData=jsonData) }}
            </div>
        </div>

        {#------- Equipped Armor ------ #}
        <div class="sheet-znz-section-equipment">
            <div class="sheet-znz-block sheet-znz-equipped-head">
                <h2>Equipped Head Gear</h2>
                {{ itemcard.create('equipped_head', true, "Head Gear", jsonData=jsonData) }}
            </div>
            <div class="sheet-znz-block sheet-znz-equipped-body">
                <h2>Equipped Body Gear</h2>
                {{ itemcard.create('equipped_body', true, "Body Gear", jsonData=jsonData) }}
            </div>
        </div>
        <div class="sheet-znz-section-other">
            <div class="sheet-znz-note">
                <textarea name="attr_equipped_other"></textarea>
            </div>
        </div>
    </div>



    <div class="sheet-znz-area-equipped-helmet">
    </div>

    <div class="sheet-znz-area-equipped-armor">
    </div>
</div>

<script type="text/workers">
    /** inject:workers **/
    /** endinject **/
</script>