{#  
    Some sheet data is pulled from JSON in the data folder.
    The JSON is imported to nunjucks templates via Gulp as the data variable. If additional data is added and needed in the sheet, you'll need to add it in the gulpfile. 
    You can access JSON data through the 'jsonData' variable. Pass it into macros if needed
#}

{% import 'partials/statblock.njk' as statblock %}
{% import 'partials/attributerow.njk' as attrRow %}
{% import 'partials/skillrow.njk' as skillrow %}
{% import 'partials/itemcard.njk' as itemcard %}

<div class="sheet-znz-character-sheet sheet-znz-grid-layout">
    {#----- Name Area ----- #}
    <div class="sheet-znz-area-name">
        <div class="sheet-znz-field">
            <h2>Name</h2>
            <input type="text" name="attr_name"></input>
        </div>
        <div class="sheet-znz-field sheet-znz-note-tiny">
            <h2>Quick Notes</h2>
            <textarea name="attr_character_note"></textarea>
        </div>
    </div>

    {#----- Stats ----- #}
    <div class="sheet-znz-area-status">
        <div class="sheet-znz-row">
            {% for stat in jsonData.stats.list %}
            {{ statblock.create(stat.display_name, stat.attr_name, stat.default_value, stat.has_max, stat.explanation_text) }}
            {% endfor %}
        </div>
    </div>
    
    {#----- Attributes ----- #}
    <div class="sheet-znz-area-attributes">
        <div class="sheet-znz-row-table">
            <div class="sheet-znz-row sheet-znz-row-table-header">
                <div class="sheet-znz-field sheet-znz-60">
                    <h2>Attribute</h2>
                </div>

                <div class="sheet-znz-field sheet-znz-40">
                    <div class="sheet-znz-inner-row">
                        <div class="sheet-znz-field sheet-znz-50">
                            <h2>Score</h2>
                        </div>
                        <div class="sheet-znz-field sheet-znz-50">
                            <h2>Bonus</h2>
                        </div>
                    </div>
                </div>

            </div>
            {% for attr in jsonData.attributes.list %}
                {{ attrRow.create(attr) }}
            {% endfor %}
        </div>
    </div>

    {#----- Equipped Weapons ----- #}
    <div class="sheet-znz-area-equipped-weapon">
        <div class="sheet-znz-section sheet-znz-equipped-ranged">
            <h2>Equipped Ranged Weapon</h2>
            {{ itemcard.create('equipped_ranged', true, "Ranged Weapon", jsonData=jsonData) }}
        </div>
        <div class="sheet-znz-section sheet-znz-equipped-melee">
            <h2>Equipped Melee Weapon</h2>
            {{ itemcard.create('equipped_melee', true, "Melee Weapon", jsonData=jsonData) }}
        </div>
    </div>

    <div class="sheet-znz-area-select sheet-znz-area-skills">
        <h2>Skills</h2>
        <div class="sheet-znz-skill-select">
            {% for item in jsonData.skills.list %}
            {{ skillrow.create("skill", item) }}
            {% endfor %}
        </div>
    </div>

    <div class="sheet-znz-area-select sheet-znz-area-proficiencies">
        <h2>Proficiencies</h2>
        <div class="sheet-znz-skill-select">
            {% for item in jsonData.proficiencies.list %}
            {{ skillrow.create("proficiency", item) }}
            {% endfor %}
        </div>
    </div>

    <div class="sheet-znz-area-equipped-helmet">
    </div>

    <div class="sheet-znz-area-equipped-armor">
    </div>
</div>