{#  
    In the Gulp process, certain data is pulled in and added to the templates
    jsonData is an object containing all JSON data in the data folder 
    queryData is an object containing the exported results of any JS file in the data-query folder
   
    Access any data through the filename 
        example - Any JSON in /data/example.json can be accessed through jsonData.example
#}

{% import 'partials/attrTable.njk' as attrTable %}
{% import 'partials/fields.njk' as fieldCreate %}
{% import 'partials/item.njk' as item %}
{% import 'partials/skillTable.njk' as skillTable %}
{% import 'partials/statblock.njk' as statblock %}

{% import 'partials/itemcard.njk' as itemcard %}

<div class="sheet-znz-character-sheet sheet-znz-grid-layout">

    <div class="sheet-znz-grid-sidebar">
        {#----- Name Area ----- #}
        <div class="sheet-znz-area-name">
            {% for fld in jsonData.fields.nameArea %}
                {{ fieldCreate.outputField( field=fld)}}
            {% endfor %}
        </div>

        {#----- Counter Area ----#}
        <div class="sheet-znz-area-counter">
            <div class="sheet-znz-flex">
                <div class="sheet-znz-counter-label">Total: </div>
                {% for fld in jsonData.fields.counters %}
                    {{ fieldCreate.outputField( field=fld, header="h3") }}
                {% endfor %}
            </div>
        </div>

        {#----- Attributes ----- #}
        <div class="sheet-znz-section-attributes">
            {{ attrTable.create(jsonData.fields.attributes, jsonData.fields.config.attribute_values) }}
        </div>

        {#----- Skills & Proficiencies ----- #}
        <div class="sheet-znz-section-skills">
            <div class="sheet-znz-block">
                {{ skillTable.create(jsonData.fields.skills, "Skills") }}
            </div>

            <div class="sheet-znz-block">
                {{ skillTable.create(jsonData.fields.proficiencies, "Proficiencies") }}
            </div>
        </div>
    </div>

    <div class="sheet-znz-grid-main">
        {#----- Stats ----- #}
        <div class="sheet-znz-area-status">
            <div class="sheet-znz-row">
                {% for stat in jsonData.fields.stats %}
                {{ statblock.create(stat) }}
                {% endfor %}
            </div>
        </div>

        {#----- Equipped Weapons ----- #}
        <div class="sheet-znz-section-weapons sheet-znz-equipped">
            <div class="sheet-znz-block sheet-znz-equipped-ranged">
                <h2>Equipped Ranged Weapon</h2>
                {{ item.equippedItem(fields=jsonData.fields.item, attr_prefix=jsonData.fields.config.item_prefixes.eq_ranged, type="weapon", category="ranged") }}
            </div>
            <div class="sheet-znz-block sheet-znz-equipped-melee">
                <h2>Equipped Melee Weapon</h2>
                {{ item.equippedItem(fields=jsonData.fields.item, attr_prefix=jsonData.fields.config.item_prefixes.eq_melee, type="weapon", category="melee") }}
            </div>
        </div>

        {#------- Equipped Armor ------ #}
        <div class="sheet-znz-section-equipment sheet-znz-equipped">
            <div class="sheet-znz-block sheet-znz-equipped-head">
                <h2>Equipped on Head</h2>
                {{ item.equippedItem(fields=jsonData.fields.item, attr_prefix=jsonData.fields.config.item_prefixes.eq_head, type="equipment", category="head", options=queryData.equipmentAffected) }}
            </div>
            <div class="sheet-znz-block sheet-znz-equipped-body">
                <h2>Equipped on Body</h2>
                {{ item.equippedItem(fields=jsonData.fields.item, attr_prefix=jsonData.fields.config.item_prefixes.eq_body, type="equipment", category="body", options=queryData.equipmentAffected) }}
            </div>
        </div>
    </div>

    <div class="sheet-znz-grid-full-width">
    
    </div>

</div>

<script type="text/workers">
    /** inject:workers **/
    /** endinject **/
</script>