.sheet-area-abilities {
    .sheet-description-text {
        border: solid 1px $gray;
        background-color: $lightgray;
        border-radius: 0.4rem;
        padding: 1rem;
        min-height: 12rem;
        font-size: $small;

        .sheet-lvl-txt {
            margin-left: 1rem;
            margin-top: 0.5rem;

            span {
                font-weight: 700;
                text-decoration: underline;
            }

        }
    }
}


.sheet-section-mutation {
    font-size: 1.2rem;
    margin-bottom: 3rem;

    .sheet-header {
        display: flex;
        justify-content: space-between;
    }

}

.sheet-section-quirk {
    max-width: 50%;

    .sheet-header {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px $gray;

        button {
            padding: 0 0.8rem;
            font-size: $small;
            line-height: 12px;
        }
    }

    .sheet-ability-list {

        .repcontainer {
            margin-bottom: 1rem;
        }
    }

    .sheet-ability {
        border-bottom: solid 1px $gray;
        padding-top: 2rem;
        padding-bottom: 1rem;

        textarea {
            max-width: 98%;
        }

        .sheet-ability-label {
            font-size: $small;
        }
    }
}