.sheet-section-attributes {


}

.sheet-container-attr {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;

    .sheet-field-attr-mod {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border: solid 1px $black;
        border-radius: 1rem;
        padding: 0.75rem;
        padding-bottom: 1.5rem;
        width: 25%;
        position: relative;

        input {
            text-align: center;
            width: 100%;
        }

        .sheet-attr-mod-number {
            border: none;
            background-color: transparent;
        }

        .sheet-attr-mod {
            font-size: $large;
        }

        .sheet-bonus {
            position: absolute;
            bottom: 0;
            border: solid 1px $darkgray;
            padding: 0 1rem;
            border-radius: 4rem;
        }
    }

    .sheet-field-attr {
        border: solid 1px $darkgray;
        border-left: none;
        padding: 0.5rem;
        font-size: $small;
        text-align: center;
        text-transform: capitalize;
        display: flex;
        align-items: center;

        .sheet-label-attr {
            font-weight: 700;
            flex: 80%
        }

        .sheet-field-attr-input {
            flex: 20%;

            input {
                border: none;
                border-left: solid 1px $darkgray;
                border-radius: 0;
                width: 100%;
                text-align: center;
                height: 100%;
            }
        }
    }
}