

.sheet-card-line {

    display: flex;
    justify-content: space-between;

    .sheet-label{
        font-weight: 700;
        flex-basis: 30%;
        font-size: $medium;
    }

    .sheet-field {
        flex-basis: 50%;
    }

    @include hideType('weapon');
    @include hideType('consumable');
    @include hideType('equipment');
    @include hideType('melee');
    @include hideType('ranged');

}

