.sheet-character {
    .sheet-header {
        display: flex;
        
        .sheet-main {
            flex-basis: 80%;
        }

        .sheet-sidebar {
            flex-basis: 20%
        }

        .sheet-top-1 {
            flex-basis: 40%;
        }

        .sheet-top-2 {
            flex-basis: 60%;
        }

        .sheet-bottom-1 {
            flex-basis: 30%;
        }

        .sheet-bottom-2 {
            flex-basis: 70%;
        }
    }
}

.sheet-toggle-select {
    .sheet-toggler {
        margin-right: 2rem;
        flex-basis: 35%;
    }

    .sheet-text {
        flex-basis:65%;
    }
}