.sheet-area-inventory{

    // Inventory Cards
    .sheet-item-card {
        border: solid 1px $black;
        padding: 1rem;
        padding-right: 0;
        margin-bottom: 2rem;
        display: flex;
        box-shadow: 0.3rem 0.3rem $black;


        // Main
        .sheet-item-main {
            width: 85%;

            .sheet-main-top {
                display: flex;

                .sheet-image {
                    width: 15%;
                    margin-right: 1.5rem;
                }
    
                .sheet-content {
                    width: 85%;
                }
            }
        }
        
        //Sidebar
        .sheet-item-side {
            margin-left: 2rem;
            border-left: solid 1px $gray;
            width: 15%;

            .sheet-item-side-container {
                width: 80%;
                margin: auto;
                text-align: center;
            }
        }

        //Image
        .sheet-image {
            background: url('https://tojikan.github.io/ZnZ-Roll20/assets/images/swap-bag.png') no-repeat top left;
            background-size: contain;
        }


        //Name
        .sheet-name {
            margin-bottom: 0.5rem;
            
            input {
                font-size: $xLarge;
                border-bottom: double 0.4rem $black;
                font-weight: 700;
                color: $black;
            }
        }
        
        //Item Type
        .sheet-type {
            display: flex;
            justify-content: space-between;

            select {
                padding-left: 0;
                font-weight: 700;
                width: 15rem;
            }
        }

        //Sub Types
        .sheet-subtype {
            display: none;
        }

        // Show/Hide subtype dropdowns
        @include toggleDisplayCheckbox('sheet-subtype-armor', 'sheet-item-type-armor');
        @include toggleDisplayCheckbox('sheet-subtype-melee', 'sheet-item-type-melee');
        @include toggleDisplayCheckbox('sheet-subtype-ranged', 'sheet-item-type-ranged');
        
        
        //Description
        .sheet-description {
            textarea {
                max-width: 100%;
                box-sizing: border-box;
                height: 2.8rem;
            }
        }
        
        //Quantity/Weight
        .sheet-amount-counter {
            margin-bottom: 0.5rem;
            
            .sheet-label {
                margin-bottom: 0.25rem;
                font-size: $medium;
            }
            
            input {
                font-size: $xLarge;
                text-align: center;
                width: 100%;
            }
        }

        button.sheet-equip-button {
            padding: 0.2rem 0.5rem;
            margin-bottom: 0.5rem;
            display: none;
        }

        @include toggleDisplayCheckbox('sheet-equip-melee', 'sheet-item-type-melee');
        @include toggleDisplayCheckbox('sheet-equip-ranged', 'sheet-item-type-ranged');
        @include toggleDisplayCheckbox('sheet-equip-special', 'sheet-item-type-special');
        @include toggleDisplayCheckbox('sheet-equip-misc', 'sheet-item-type-misc');

        @include toggleDisplayCheckboxDouble('sheet-equip-head', 'sheet-item-type-armor', 'sheet-item-type-head');
        @include toggleDisplayCheckboxDouble('sheet-equip-body', 'sheet-item-type-armor', 'sheet-item-type-body');
        @include toggleDisplayCheckboxDouble('sheet-equip-arms', 'sheet-item-type-armor', 'sheet-item-type-arms');
        @include toggleDisplayCheckboxDouble('sheet-equip-legs', 'sheet-item-type-armor', 'sheet-item-type-legs');



        // Change image based on item type
        .sheet-item-type-melee:checked ~ .sheet-image { background-image:url('https://tojikan.github.io/ZnZ-Roll20/assets/images/baseball-bat.png'); }
        .sheet-item-type-ranged:checked ~ .sheet-image { background-image:url('https://tojikan.github.io/ZnZ-Roll20/assets/images/pistol-gun.png'); }
        .sheet-item-type-armor:checked ~ .sheet-image { background-image:url('https://tojikan.github.io/ZnZ-Roll20/assets/images/kevlar-vest.png'); }
        .sheet-item-type-special:checked ~ .sheet-image { background-image:url('https://tojikan.github.io/ZnZ-Roll20/assets/images/grenade.png'); }

        // Show/Hide Stats Containers
        @include toggleDisplayCheckbox('sheet-armor-fields', 'sheet-item-type-armor');
        @include toggleDisplayCheckbox('sheet-melee-fields', 'sheet-item-type-melee');
        @include toggleDisplayCheckbox('sheet-ranged-fields', 'sheet-item-type-ranged');

        // Melee and Ranged Container Layout
        .sheet-melee-fields-container, .sheet-ranged-fields-container {
            display: grid;
            grid-template-columns: repeat( auto-fit, 50%);
            grid-row-gap: 0.5rem;
            align-items: center;

            .sheet-field {
                width: 40%;
            }
        }

        .sheet-armor-fields-container {
            display: flex;
            justify-content: space-between;

            .sheet-armor-fields-block {
                &:not(:last-child){
                    margin-right: 1rem;
                }

                .sheet-item-field {
                    display: block;
                }
            }
        }
    }


    // Inventory Counters
    .sheet-section-counters {
        padding: 1rem;
        border: solid 2px $black;
        box-shadow: 0.3rem 0.3rem $black;

        .sheet-inventory-weight {
            border-bottom: solid 4px $black;
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            
            .sheet-weight {
                display: flex;
                text-align: center;
                justify-content: center;
            }

            .sheet-separator {
                font-size: $xLarge;
                display: flex;
                align-items: flex-end;
                margin: 0 0.7rem;
                color: $gray;
            }

            .sheet-field {
                span {
                    display: block;
                    margin-bottom: 0.5rem;
                }
    
                input {
                    width: 8rem;
                    border: none;
                    text-align: center;
                    font-weight: 700;
                    font-size: $large;
                }
            }
    
        }
    }

}