.sheet-area-name {

    input {
        margin-bottom: 1rem;
    }

    textarea {
        max-width: 100%;
        box-sizing: border-box;
    }

    h1, h2 {
        font-size: $medium;
        line-height: 2rem;
    }
}
        