

<div class="sheet-area-abilities">
    <div class="sheet-section-mutation">
        {% for mutation in sheetData.mutations.list %}
        <input type="checkbox" class="sheet-toggle" name="attr_{{sheetData.mutations.general.attr_name}}" value="{{mutation.value}}" />
        <div class="sheet-mutation-info  sheet-toggle-content">
            <div class="sheet-header">
                <h2>Mutation - {{mutation.name}}</h2>
                <div class="sheet-ability-label">
                    Mutation Level
                    <input type="number" name="attr_{{sheetData.misc.quirks.ability_attr}}_level" value="1" min="1" max="3"/>
                </div>
            </div>
            <div class="sheet-description-text">
                {{sheetData.mutations.general.description | safe}} <br/><br/>
                {{mutation.description | safe}}
                {% if mutation.lvl1 %} <div class="sheet-lvl-txt"><span>Level 1</span> - {{mutation.lvl1 | safe}} </div>{% endif %}
                {% if mutation.lvl2 %} <div class="sheet-lvl-txt"><span>Level 2</span> - {{mutation.lvl2 | safe}} </div>{% endif %}
                {% if mutation.lvl3 %} <div class="sheet-lvl-txt"><span>Level 3</span> - {{mutation.lvl3 | safe}} </div>{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="sheet-container">
        <div class="sheet-section-quirk">
            <div class="sheet-header sheet-row-flex">
                <h2>Abilities</h2>
                <button type="action" name="act_{{sheetData.misc.actions.randomizeAbility}}">Random Ability </button>
            </div>
            <div class="sheet-ability-list">
                <fieldset class="repeating_{{sheetData.misc.quirks.ability_attr}}">
                    <div class="sheet-ability">
                        <div class="sheet-row-flex">
                            <div class="sheet-ability-select">

                                <select name="attr_{{sheetData.misc.quirks.ability_attr}}">
                                    {% for ability in sheetData.abilities %}
                                        {% if not ability.hidden %}
                                            <option value="{{ability.value}}">{{ability.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="sheet-ability-label">
                                Ability Lvl
                                <input type="number" name="attr_{{sheetData.misc.quirks.ability_attr}}_lvl" value="1" min="1" max="3"/>
                            </div>
                        </div>
                        <div class="sheet-ability-descriptions">
                            {% for ability in sheetData.abilities %}
                                <div class="sheet-description">
                                    <div class="sheet-description-main">
                                        <input type="checkbox" class="sheet-toggle" name="attr_{{sheetData.misc.quirks.ability_attr}}" value="{{ability.value}}" {{"checked" if ability.default}} />
                                        <div class="sheet-description-text sheet-toggle-content">
                                            {{ability.description | safe}} <br/>
                                            {% if ability.lvl1 %} <div class="sheet-lvl-txt"><span>Level 1</span> - {{ability.lvl1 | safe}} </div>{% endif %}
                                            {% if ability.lvl2 %} <div class="sheet-lvl-txt"><span>Level 2</span> - {{ability.lvl2 | safe}} </div>{% endif %}
                                            {% if ability.lvl3 %} <div class="sheet-lvl-txt"><span>Level 3</span> - {{ability.lvl3 | safe}} </div>{% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="sheet-section-quirk">
            <div class="sheet-header sheet-row-flex">
                <h2>Flaws</h2>
                <button type="action" name="act_{{sheetData.misc.actions.randomizeFlaw}}">Random Flaw </button>
            </div>
            <div class="sheet-ability-list">
                <fieldset class="repeating_{{sheetData.misc.quirks.flaw_attr}}">
                    <div class="sheet-ability">
                        <div class="sheet-ability-select">
                            <select name="attr_{{sheetData.misc.quirks.flaw_attr}}">
                                {% for flaw in sheetData.flaws %}
                                    {% if not flaw.hidden %}
                                        <option value="{{flaw.value}}">{{flaw.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="sheet-ability-descriptions">
                            {% for flaw in sheetData.flaws %}
                                <div class="sheet-description">
                                    <div class="sheet-description-main">
                                        <input type="checkbox" class="sheet-toggle" name="attr_{{sheetData.misc.quirks.flaw_attr}}" value="{{flaw.value}}" {{"checked" if flaw.default}} />
                                        <div class="sheet-description-text sheet-toggle-content">
                                            {{flaw.description | safe}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>