
{% import '../macros/equippedItem.njk' as equipped %}
{% import '../macros/counterBox.njk' as counterBox %}

<div class="sheet-area-equipment">
    <div class="sheet-container">
        <div class="sheet-section-weapons">
            <div class="sheet-block-weapons">
                <div class="sheet-weapon">
                    {{equipped.create(sheetData.items.equipTypes.melee, sheetData.prefixes.melee, sheetData, 'Equipped Melee Weapon', sheetData.items.fields.subtypes.melee)}}
                </div>
                <div class="sheet-weapon">
                    {{equipped.create(sheetData.items.equipTypes.ranged, sheetData.prefixes.ranged, sheetData, 'Equipped Ranged Weapon', sheetData.items.fields.subtypes.ranged)}}
                </div>
            </div>
            <div class="sheet-block-special">
                {{equipped.create(sheetData.items.equipTypes.special, sheetData.prefixes.special, sheetData, 'Special Item')}}
            </div>
        </div>
        <div class="sheet-section-ammo">
            <div class="sheet-ammo-counters">
                {{ counterBox.create('Ammunition', sheetData.items.ammoTypes, sheetData.items.customCounters.ammo_custom_count, sheetData.items.customCounters.ammo_label, sheetData.items.customCounters.ammo_attr)}}
            </div>
        </div>
    </div>
    <div class="sheet-section-armor">
        <div class="sheet-row">
            {{equipped.create(sheetData.items.equipTypes.head,sheetData.prefixes.head, sheetData, 'Equipped Head Armor')}}
            {{equipped.create(sheetData.items.equipTypes.body,sheetData.prefixes.body, sheetData, 'Equipped Body Armor')}}
        </div>
        <div class="sheet-row">
            {{equipped.create(sheetData.items.equipTypes.arms,sheetData.prefixes.arms, sheetData, 'Equipped Arm Armor')}}
            {{equipped.create(sheetData.items.equipTypes.legs,sheetData.prefixes.legs, sheetData, 'Equipped Leg Armor')}}
        </div>
    </div>
</div>