
{% import '../macros/equippedItem.njk' as equipped %}
{% import '../macros/counterBox.njk' as counterBox %}

<div class="sheet-area-equipment">
    <div class="sheet-container">
        <div class="sheet-section-weapons">
            <div class="sheet-block-weapons">
                <div class="sheet-weapon">
                    {{equipped.create(jsonData.items.equipTypes.melee, jsonData.prefixes.melee, jsonData.items, 'Equipped Melee Weapon', jsonData.items.fields.subtypes.melee)}}
                </div>
                <div class="sheet-weapon">
                    {{equipped.create(jsonData.items.equipTypes.ranged, jsonData.prefixes.ranged, jsonData.items, 'Equipped Ranged Weapon', jsonData.items.fields.subtypes.ranged)}}
                </div>
            </div>
            <div class="sheet-block-special">
                {{equipped.create(jsonData.items.equipTypes.special, jsonData.prefixes.special, jsonData.items, 'Special Item')}}
            </div>
        </div>
        <div class="sheet-section-ammo">
            <div class="sheet-ammo-counters">
                {{ counterBox.create('Ammunition', jsonData.items.ammoTypes, jsonData.items.customCounters.ammo_custom_count, jsonData.items.customCounters.ammo_label, jsonData.items.customCounters.ammo_attr)}}
            </div>
        </div>
    </div>
    <div class="sheet-section-armor">
        <div class="sheet-row">
            {{equipped.create(jsonData.items.equipTypes.head,jsonData.prefixes.head, jsonData.items, 'Equipped Head Armor')}}
            {{equipped.create(jsonData.items.equipTypes.body,jsonData.prefixes.body, jsonData.items, 'Equipped Body Armor')}}
        </div>
        <div class="sheet-row">
            {{equipped.create(jsonData.items.equipTypes.arms,jsonData.prefixes.arms, jsonData.items, 'Equipped Arm Armor')}}
            {{equipped.create(jsonData.items.equipTypes.legs,jsonData.prefixes.legs, jsonData.items, 'Equipped Leg Armor')}}
        </div>
    </div>
</div>