{% import '../macros/inventoryItem.njk' as inventoryItem %}
{% import '../macros/counterBox.njk' as counterBox %}

<div class="sheet-area-inventory">
    <div class="sheet-container">
        <div class="sheet-section-inventory">
            <fieldset class="repeating_inventory">
                {{ inventoryItem.create(prefix='inventory', itemsData=jsonData.items)}}
            </fieldset>
        </div>

        <div class="sheet-section-counters">
            <div class="sheet-inventory-weight">
                <h2> {{jsonData.misc.inventory_weight.display_name }} </h2>
                <div class="sheet-weight">
                    <div class="sheet-field">
                        <span>Current</span>
                        <input type="text" name="attr_{{jsonData.misc.inventory_weight.attr_name}}" value="0">
                    </div>
                    <div class="sheet-separator">/</div>
                    <div class="sheet-field">
                        <span>Max</span>
                        <input type="text" name="attr_{{jsonData.misc.inventory_weight.attr_name}}_max" value="10">
                    </div>
                </div>
            </div>
            <div class="sheet-inventory-counters">
                {{ counterBox.create('Consumables', jsonData.items.inventoryCounters, jsonData.items.customCounters.inv_custom_count, jsonData.items.customCounters.inv_label, jsonData.items.customCounters.inv_attr)}}
            </div>
            <div class="sheet-inventory-counters">
                {{ counterBox.create('Ammunition', jsonData.items.ammoTypes, jsonData.items.customCounters.ammo_custom_count, jsonData.items.customCounters.ammo_label, jsonData.items.customCounters.ammo_attr)}}
            </div>
        </div>
    </div>
</div>