<div class="sheet-area-notes">

    <div class="sheet-note">
        <h2>Background</h2>
        <textarea name="attr_notes_background"></textarea>
    </div>

    <div class="sheet-note">
        <h2>Personality</h2>
        <textarea name="attr_notes_personality"></textarea>
    </div>

    <div class="sheet-note">
        <h2>Journal</h2>
        <textarea name="attr_notes_journal"></textarea>
    </div>

    <div class="sheet-note">
        <h2>Misc</h2>
        <textarea name="attr_notes_misc"></textarea>
    </div>
</div>

