{% import 'macros/skillList.njk' as skillList %}

<div class="sheet-area-stats">
    <div class="sheet-section-attributes">
        {% for attr in sheetData.attributes %}
        <div class="sheet-container-attr">
            <div class="sheet-field-attr-mod">
                Mod
                <div class="sheet-modifier">
                    <input class="sheet-attr-mod-number sheet-attr-mod" type="text" name="attr_{{attr.attr_name}}_mod" readonly value="{{attr.default_mod}}" />
                    <input type="hidden" class="sheet-bonus-check" name="attr_{{attr.attr_name}}_bonus_check" />
                    <span class="sheet-bonus" readonly name="attr_{{attr.attr_name}}_bonus" value="+1"></span>
                </div>
                <div class="sheet-rolls">
                   <span readonly name="attr_{{attr.attr_name}}_dice" value="1"></span>
                </div>
            </div>

            <div class="sheet-field-attr">
                <div class="sheet-label-attr">
                    {{attr.display_name}}
                </div>
                <div class="sheet-field-attr-input">
                    <input type="text" name="attr_{{attr.attr_name}}" value="{{attr.default_value}}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="sheet-section-expertise">
        <div class="sheet-section-skills">
            {{ skillList.create(sheetData.skills, 'Skills') }}
        </div>
        <div class="sheet-section-proficiencies">
            {{ skillList.create(sheetData.proficiencies, 'Proficiencies', '1') }}
        </div>
    </div>
</div>