{% import 'macros/bubble.njk' as bubble %}

<div class="roll-widget">
    <div class="ap-counter">
        <div class="counter-label">AP</div>
        {{bubble.createNumber(fields.character.stats.ap)}}
        <div class="options-toggle">
            <input class="btn-checkbox" type="checkbox" name="attr_toggle_roll_options" value="on" checked="checked">
            <div>Options</div>
        </div>
    </div>
    <input class="hidden toggle-roll-controls" type="checkbox" name="attr_toggle_roll_options" value="on" checked="checked">
    <div class="roll-controls">
        <div class="control-option">
            <div class="control-label">
                Roll Type
            </div>
            <div class="inputs btn-radiobutton-row">
                <div class="control btn-radiobutton">
                    <input class="btn-radiobutton-input cost-1" type="radio" name="attr_{{fields.character.rolloptions.cost | getAttr}}" value="1" checked="checked">
                    <div class="btn-radiobutton-label cost-1">Active</div>
                </div>
                <div class="control btn-radiobutton">
                    <input class="btn-radiobutton-input cost-0" type="radio" name="attr_{{fields.character.rolloptions.cost | getAttr}}" value="0">
                    <div class="btn-radiobutton-label cost-0">Free</div>
                </div>
            </div>
        </div>
        <div class="control-option">
            <div class="control-label">
                Add Roll Difficulty
            </div>
            <div class="inputs">
                <div class="control">
                    <input type="number" name="attr_{{fields.character.rolloptions.difficulty | getAttr}}" value="0">
                </div>
            </div>
        </div>
        <div class="control-option">
            <div class="control-label">
                Commands
            </div>
            <div class="inputs commands">
                {% for key, act in fields.character.actions %}
                <div class="control">
                    <button type="action" name="act_{{act.id}}">{{act.label}}</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>