

{% macro pool(field) %}
    <div class="dice-pool-row">
        <div class="pool-label">
            <div class="pool-roll">
                <button type="roll" class="pool-roll-btn" value="!!fatroll pool='<%{{ field | getAttr}}%>' name='@{character_name} attempts to roll a generic {{ field | getLabel }} roll!' target='?{Target Roll?}' characterid='@{character_id}'"></button>
            </div>
            <span>{{ field | getLabel }}</span>
            {% if field.tooltip %}
                <div class="znztip">
                ?
                    <div class="znztiptext">
                        {{ field.tooltip }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="pool-amount">
            <input type="number" name="attr_{{ field | getAttr }}" value="{{field.default}}">
        </div>
    </div>

    <div class="skill-list">
        {% for id, skill in character.skills.list | dictsort %}
        {%- if skill.uses == field.id -%}
        <div class="skill-row">
            <div class="skill-roll"><button type="roll" class="skill-roll-btn" value="!!fatroll pool='<%{{ field | getAttr}}%>' name='@{character_name} attempts to roll a {{ skill | getLabel }} roll!' target='<%{{ skill | getAttr}}%>' characterid='@{character_id}'"></button></div>
            <div class="skill-label">
                {{ skill.label }}
                {% if skill.tooltip %}
                    <div class="znztip">
                    ?
                        <div class="znztiptext">
                            {{ skill.tooltip }}
                        </div>
                    </div>
                {% endif %}
                
            </div>
            <div class="skill-amount"><input type="number" name="attr_{{ skill | getAttr}}" value="2"></div>
        </div>
        {%- endif -%}
        {% endfor %}
    </div>
{% endmacro %}


{{ pool(character.body) }}
{{ pool(character.spirit) }}
{{ pool(character.mind) }}