
<rolltemplate class="sheet-rolltemplate-attackresult">
    <div class="sheet-template-wrapper  {{ "{{hitStyle}}" }}">
        <div class="sheet-template-count">{{ "{{attackNo}}" }}</div>
        <div class="sheet-template-block sheet-template-hit">
            <div class="sheet-template-block-header">Hit</div>
            <div class="sheet-template-result"> {{ "{{hitRoll}}" }}</div>
            <div class="sheet-template-description">{{ "{{hitDescript}}" }}</div>
        </div>
        <div class="sheet-template-block sheet-template-diff">
            <div class="sheet-template-block-header">Difficulty</div>   
            <div class="sheet-template-result"> {{ "{{difficulty}}" }}</div>
            <div class="sheet-template-description">{{ "{{difficultyDescript}}" }}</div>
        </div>
        <div class="sheet-template-block sheet-template-dmg">
            <div class="sheet-template-block-header">Damage</div>
            <div class="sheet-template-result"> {{ "{{damage}}" }}</div>
            <div class="sheet-template-description">{{ "{{damageDescript}}" }}</div>
        </div>
    </div>
</rolltemplate>