{#
    Macro for rendering an attribute row. 
    Accepts the attribute as an argument - directly pass an attribute item from the attribute list.
#}


{% macro create(attr="") %}
<div class="sheet-znz-row">
    <div class="sheet-znz-field sheet-znz-60">
        <h3>{{ attr.display_name }}</h3>
        <div class="sheet-znz-description">
            {{ attr.reminder_note }}
        </div>
    </div>
    <div class="sheet-znz-field sheet-znz-40">
        <div class="sheet-znz-field">
            <div class="sheet-znz-inner-row">
                <div class="sheet-znz-field sheet-znz-50">
                    <input type="number" name="attr_{{ attr.attr_name }}" min="1" value="3" max="6"/>
                </div>
                <div class="sheet-znz-field sheet-znz-50">
                    <input type="text" readonly name="attr_{{ attr.attr_name }}_bonus" value="0"/>
                </div>
            </div>
            <div class="sheet-znz-description">
                Other Modifiers: <span readonly name="attr_{{ attr.attr_name }}_max"></span> 
            </div>
        </div>
    </div>
</div>
{% endmacro %}