{#
    Macro item card

    attrPrefix - prefix to append to all attributes, such as equipped_melee or inventory
    equipped - Boolean to determine if this is an inventory card or an equipped card, since there will be differences.
    type - This gets used as a label text for some fields, like the item effect field.
    jsonData - Pass all jsonData in here, since different parts might be used.
    
#}

{% import './expandable.njk' as expandable %}

{% macro create(attrPrefix='', equipped=false, type="item", jsonData="") %}

<div class="sheet-znz-itemcard">

    {#  ---------------Item Card Top - Item Type and Name and Weight-------------- #}
    <div class="sheet-znz-row">

        {# Type #}
        {% call outputField(attrPrefix + "_item_type", equipped) %}
        <div class="sheet-znz-field sheet-znz-15">
            <label>Item Type</label>
            <select name="attr_{{ attrPrefix }}_item_type" value="1">
                <option value="1" default>Misc</option>
                <option value="2">Melee Weapon</option>
                <option value="3">Ranged Weapon</option>
                <option value="4">Equipment</option>
            </select>
        </div>
        {% endcall %}
        
        {# Name #}
        <div class="sheet-znz-field sheet-znz-itemcard-name {{ "sheet-znz-75" if not equipped else "sheet-znz-full" }}">
            <label>Name</label>
            <input type="text" name="attr_{{ attrPrefix }}_item_name"/>
        </div>
        
        {# Weight #}
        {% call outputField(attrPrefix + "_item_weight", equipped) %}
        <div class="sheet-znz-field sheet-znz-15">
            <label>Weight</label>
            <input type="number" name="attr_{{ attrPrefix }}_item_weight" min="0"/>
        </div>
        {% endcall %}
    </div>

    {#--------------------- EXPANDABLE AREA --------------------#}
    {# Show Expand Toggle Button if in Inventory #}
    {% if not equipped %} 
        <div class="sheet-znz-expand-button sheet-znz-expandable-section">
            <input class="sheet-znz-expand-toggle" type="checkbox" name="attr_{{ attrPrefix }}_expand_toggle" checked>
            <label class="sheet-znz-expand-text" for="attr_{{ attrPrefix }}_expand_toggle"><span>Show Item Details</span></label>
            <label class="sheet-znz-collapse-text" for="attr_{{ attrPrefix }}_expand_toggle"><span>Hide Item Details</span></label>
        </div>
    {% endif %}

        {# If in inventory, display as expandable area. If equipped, do not.  #}
        {% call expandable.create(attrPrefix + "_expand_toggle", disabled = equipped ) %}
        
        {#----------------- Misc Fields ---------------#}
        <div class="sheet-znz-itemcard-misc-fields">
            <div class="sheet-znz-field">
                <h3>Quantity</h3>
                <input type="number" min="0" name="attr_{{ attrPrefix }}_item_quantity"/>
            </div>
        </div>

        
        <div class="sheet-znz-itemcard-weapon-fields">
            {#----------------- Melee-Specific Fields ---------------#}
            <div class="sheet-znz-itemcard-melee-fields">
                <div class="sheet-znz-row">
                    <div class="sheet-znz-field">
                        <h3>Melee Type</h3>
                        <select name="attr_{{ attrPrefix }}_melee_type">
                            {% for melee in jsonData.weaponTypes.meleeTypes %}
                            <option value="{{ melee.attr_name }}">{{ melee.display_name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="sheet-znz-row">
                    <div class="sheet-znz-field">
                        <h3>Energy per Attack</h3>
                        <input type="number" min="1" name="attr_{{ attrPrefix }}_melee_energy_cost" {{ 'value="1"'|safe if not equipped }}/>
                    </div>
                    <div class="sheet-znz-field sheet-znz-0 sheet-znz-right">
                        <h3>Durability</h3>
                        <div class="sheet-znz-inner-row">
                            <div>
                                <input type="number" min="0" name="attr_{{ attrPrefix }}_melee_durability" {{ 'value="0"'|safe if not equipped }}/>
                            </div>
                            <div class="sheet-divider">/</div>  
                            <div>
                                <input type="number" min="1" name="attr_{{ attrPrefix }}_melee_durability_max" {{ 'value="0"'|safe if not equipped }}/>
                                <div class="sheet-znz-description sheet-znz-center">
                                    MAX
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#--------------- Ranged Specific Fields --------------#}
            <div class="sheet-znz-itemcard-ranged-fields">
                <div class="sheet-znz-row">
                    <div class="sheet-znz-field">
                        <h3>Ranged Type</h3>
                        <select name="attr_{{ attrPrefix }}_ranged_type">
                            {% for ranged in jsonData.weaponTypes.rangedTypes %}
                            <option value="{{ ranged.attr_name }}">{{ ranged.display_name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="sheet-znz-field">
                        <h3>Ammo Type</h3>
                        <select name="attr_{{ attrPrefix }}_ammo_type">
                            {% for ammo in jsonData.weaponTypes.ammoTypes %}
                            <option value="{{ ammo.attr_name }}">{{ ammo.display_name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="sheet-znz-row">
                    <div class="sheet-znz-field">
                        <h3>Reloads</h3>
                        <input type="number" min="0" name="attr_{{ attrPrefix }}_ranged_reloads" {{ 'value="0"'|safe if not equipped }}/>
                    </div>
                    <div class="sheet-znz-field sheet-znz-0 sheet-znz-right">
                        <h3>Ammo</h3>
                        <div class="sheet-znz-inner-row">
                            <input type="number" min="0" name="attr_{{ attrPrefix }}_ranged_ammo" {{ 'value="0"'|safe if not equipped }}/>
                            <div class="sheet-divider">/</div>
                            <div>
                                <input type="number" min="0" name="attr_{{ attrPrefix }}_ranged_ammo_max" {{ 'value="0"'|safe if not equipped }}/>
                                <div class="sheet-znz-description sheet-znz-center">
                                    MAX
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {#--------------- General Weapon Fields --------------#}
            <div class="sheet-znz-row">
                <div class="sheet-znz-field sheet-znz-weapon-attack">
                    <h3>Hit</h3>
                    <div class="sheet-znz-inner-row">
                        <div class="sheet-znz-prefixed-input">
                            <span>
                                D<input type="number" name="attr_{{ attrPrefix }}_weapon_hit" min = "1" max = "99" {{ 'value="10"'|safe if not equipped }}/>
                            </span>
                        </div>
                        <input type="number" name="attr_{{ attrPrefix }}_weapon_hit_bonus" {{ 'value="0"'|safe if not equipped }}/>
                    </div>
                    <div class="sheet-znz-description"> Hit Dice & Bonus</div>
                </div>
                <div class="sheet-znz-field">
                    <h3>Range</h3>
                    <input type="number" name="attr_{{ attrPrefix }}_weapon_range" {{ 'value="1"'|safe if not equipped }}/>
                    <div class="sheet-znz-description">Max attack range </div>
                </div>
            </div>
            
            <div class="sheet-znz-row">
                <div class="sheet-znz-field sheet-znz-weapon-attack">
                    <h3>Damage</h3>
                    <div class="sheet-znz-inner-row">
                        <div class="sheet-znz-prefixed-input">
                            <span>
                                D<input type="number" name="attr_{{ attrPrefix }}_weapon_damage" min="1" max="99" {{ 'value="1"'|safe if not equipped }}/>
                            </span>
                        </div>
                        <input type="number" name="attr_{{ attrPrefix }}_weapon_damage_bonus" {{ 'value="0"'|safe if not equipped }}/>
                    </div>
                    <div class="sheet-znz-description"> Damage Dice & Bonus</div>
                </div>
                <div class="sheet-znz-field">
                    <h3>Max Attacks</h3>
                    <input type="number" name="attr_{{ attrPrefix }}_weapon_attacks" {{ 'value="1"'|safe if not equipped }}/>
                    <div class="sheet-znz-description"> Attacks Per Action</div>
                </div>
            </div>


        </div>

        {#----------- Equipment Fields----------------#}   
        <div class="sheet-znz-itemcard-equipment-fields">
            <div class="sheet-znz-row">
                <div class="sheet-znz-field">
                    <h3>Equipment Type</h3>
                    <select name="attr_{{ attrPrefix }}_equipment_type">
                    {% for equip in jsonData.equipmentTypes.types %}
                        <option value="{{ equip.attr_name }}">{{ equip.display_name }} </option>
                    {% endfor %}
                    </select>
                </div>
                <div class="sheet-znz-field sheet-znz-0 sheet-znz-right">
                    <h3>Durability</h3>
                    <div class="sheet-znz-inner-row">
                        <div>
                            <input type="number" min="0" name="attr_{{ attrPrefix }}_equipment_durability" {{ 'value="0"'|safe if not equipped }}/>
                        </div>
                        <div class="sheet-divider">/</div>  
                        <div>
                            <input type="number" min="1" name="attr_{{ attrPrefix }}_equipment_durability_max" {{ 'value="0"'|safe if not equipped }}/>
                            <div class="sheet-znz-description sheet-znz-center">
                                MAX
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sheet-znz-itemcard-modifiers">
                {# Attr Mods #}
                <div class="sheet-znz-field">
                    {% set numberOfMods = 2 %}
                    <h3>Attribute Modifiers</h3>
                    {% for i in range(0, numberOfMods) %}
                        <div class="sheet-znz-inner-row">
                            <select name="attr_{{ attrPrefix }}_equipment_{{ loop.index }}_attr_mod_type">
                                <option value="" default></option>
                            {% for item in jsonData.attributes.list %}
                                <option value="{{ item.attr_name }}">{{ item.display_name }} </option>
                            {% endfor %}
                            </select>
                            <input type="number" min="0" name="attr_{{ attrPrefix }}_equipment_{{ loop.index }}_attr_mod_value" />
                        </div>
                    {% endfor %}
                </div>

                {# Proficiency Mods #}
                <div class="sheet-znz-field">
                    <h3>Proficiency Modifiers</h3>
                    {% for i in range(0, numberOfMods) %}
                        <div class="sheet-znz-inner-row">
                            <select name="attr_{{ attrPrefix }}_equipment_{{ loop.index }}_prof_mod_type">
                                <option value="" default></option>
                            {% for item in jsonData.proficiencies.list %}
                                {% if item.equipment_affectable and item.equipment_affectable === "true" %}
                                    <option value="{{ item.attr_name }}">{{ item.display_name }} </option>
                                {% endif %}
                            {% endfor %}
                            </select>
                            <input type="number" min="0" name="attr_{{ attrPrefix }}_equipment_{{ loop.index }}_prof_mod_value"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>     



        {#----------- Bottom of Card ----------------#}
        <div class="sheet-znz-field">
            <h3> {{ type }} Effect</h3>
            <input type="text" name="attr_{{ attrPrefix }}_item_effect"/>
        </div>

        {#---------------- Equip Buttons ----------------#}
        <div class="sheet-znz-row sheet-znz-itemcard-melee-fields sheet-znz-itemcard-button">
            {% if equipped %}
                <button type="action" name="act_unequip_melee">Unequip Melee</button>
            {% else %}
                <button type="action" name="act_equip_melee">Equip Melee</button>
            {% endif %}
        </div>
        <div class="sheet-znz-row sheet-znz-itemcard-ranged-fields sheet-znz-itemcard-button">
            {% if equipped %}
                <button type="action" name="act_unequip_ranged">Unequip Ranged</button>
            {% else %}
                <button type="action" name="act_equip_ranged">Equip Ranged</button>
            {% endif %}
        </div>
        <div class="sheet-znz-row sheet-znz-itemcard-equipment-fields sheet-znz-itemcard-button">
            {% if equipped %}
                <button type="action" name="act_donequipment">Don Equipment</button>
            {% else %}
                <button type="action" name="act_doffequipment">Doff Equipment</button>
            {% endif %}
        </div>


        <div class="sheet-znz-field sheet-znz-itemcard-note">
            <h3>Notes</h3>
            <textarea name="attr_{{ attrPrefix }}_item_note" ></textarea>
        </div>

        {% endcall %}

        
</div>

{% endmacro %}



{# output the caller if not hidden. Else output a hidden input. For hiding specific fields #}
{% macro outputField(attrName= '', hidden=false) %}
    {% if not hidden %}
        {{ caller() }}
    {% else %}
        <input type="hidden" name="attr_{{ attrName }}" />
    {% endif %}
{% endmacro %}





