{# Output an item card. One macro for equipped, one for inventory

- fields - the entire item struct from fields.json
- attrPrefix - a prefix that gets prepended to all attrs
- type - card type. weapon or equipment
- category - sub category. melee or ranged, head or body
- options - an array of available options for equipment stats (stats/attributes that get affected by equipment)


#}


{% import './fields.njk' as fieldCreate %}
{% import './expandable.njk' as expandable %}

{% macro equippedItem(fields='', attrPrefix='', type='', category='', options='') %}

<div class="sheet-znz-item-card-equipped">
    <div class="sheet-znz-item-header">
    {% for stdfld in fields.standard %}
        {% if stdfld.canonical == 'item_name' %}
            {{ fieldCreate.outputField(field=stdfld, header="h3", prefix=attrPrefix) }}
        {% else %}
            {{ fieldCreate.createHidden(field=stdfld, prefix=attrPrefix) }}
        {% endif %}
    {% endfor %}
    </div>

    <div class="sheet-znz-item-row-area">
        {# misc - weapon #}
        {% for fld in fields.weapon %}
            {% if type=="weapon" and ( fld.weapon_category == "standard" or fld.weapon_category == category ) %}
                {{ fieldCreate.outputField(field=fld, header="h3", class="sheet-znz-item-row", prefix=attrPrefix) }}
            {% else %}
                {{ fieldCreate.createHidden(field=fld, prefix=attrPrefix) }}
            {% endif %}
        {% endfor %}
        
        {# equipment #}
        {% for fld in fields.equipment %}
            {% if type=="equipment" %}
                {% if fld.field_type == "repeater" %}
                    {{ equipmentStatRepeater(field=fld, options=options, header='Equipment Stats', class='sheet-znz-equipment-field')}}
                {% else %}
                    {{ fieldCreate.outputField(field=fld, header="h3", class="sheet-znz-item-row", prefix=attrPrefix) }}
                {% endif %}
            {% else %}
                {{ fieldCreate.createHidden(field=fld, prefix=attrPrefix) }}
            {% endif %}
        {% endfor %}
    </div>

    {{ fieldCreate.outputField(field=fields.effect, header="h3", class="", prefix=attrPrefix) }}
    {{ fieldCreate.outputField(field=fields.note, header="h3", class="", prefix=attrPrefix) }}

    <div class="sheet-znz-item-buttons">
        {% if type=="weapon" %}
            <button type="action" name="act_{{type}}attack"> {{type | capitalize}} Attack </button>
        {% endif %}
        <button type="action" name="act_unequip{{type}}">Unequip {{type | capitalize}} </button>
    </div>


</div>

{% endmacro %}

{% macro inventoryItem(fields='', attrPrefix='inv', options='') %}
{% set itemTypes = [] %}
{% set typeAttr = "" %}

<div class="sheet-znz-item-card-inventory">
    <div class="sheet-znz-item-header">
    {% for stdfld in fields.standard %}
        {% if stdfld.canonical == 'item_name' %}
            {{ fieldCreate.outputField(field=stdfld, header="h3", prefix=attrPrefix) }}
        {% endif %}

        {# retrieve types #}
        {% if stdfld.canonical == "item_type" %}
            {% set itemTypes = stdfld.field_options %}
            {% set typeAttr = stdfld.attr_name %}
        {% endif %}
    {% endfor %}

        <div class="sheet-znz-row">
        {% for stdfld in fields.standard %}
            {% if stdfld.canonical != 'item_name' %}
                {{ fieldCreate.outputField(field=stdfld, header="h3", prefix=attrPrefix) }}
            {% endif %}
        {% endfor %}

        </div>
    </div>

    {# Expand toggle #}
    <div class="sheet-znz-expand-button sheet-znz-expandable-section">
        <input class="sheet-znz-expand-toggle" type="checkbox" name="attr_expand_toggle" checked>
        <div class="sheet-label sheet-znz-expand-text" for="attr_expand_toggle"><span>Show Item Details</span></div>
        <div class="sheet-label sheet-znz-collapse-text" for="attr_expand_toggle"><span>Hide Item Details</span></div>
    </div>

    {% call expandable.create( "expand_toggle" ) %}
    <div class="sheet-znz-item-row-area">
        {# hidden checks for showing specific fields #}
        {% for type in itemTypes %}
            <input class="sheet-znz-hidden sheet-znz-item-type-{{type.id}}" type="checkbox" name="attr_{{attrPrefix}}_{{typeAttr}}" value="{{type.value}}" {{"checked" if type.default }} />
        {% endfor %}
        
        {# misc - weapon #}
        {% for fld in fields.weapon %}
            {% set classText = ["sheet-znz-item-row ", "sheet-znz-field ", "sheet-znz-", fld.weapon_category, "-field"] %}
            {{ fieldCreate.outputField(field=fld, header="h3", class=classText | join, prefix=attrPrefix) }}
        {% endfor %}
        
        {# equipment #}
        {% for fld in fields.equipment %}
            {% if fld.field_type == "repeater" %}
                {{ equipmentStatRepeater(field=fld, options=options, header='Equipment Stats', class='')}}
            {% else %}
                {{ fieldCreate.outputField(field=fld, header="h3", class="sheet-znz-item-row", prefix=attrPrefix) }}
            {% endif %}
        {% endfor %}
    </div>

    {{ fieldCreate.outputField(field=fields.effect, header="h3", class="", prefix=attrPrefix) }}
    {{ fieldCreate.outputField(field=fields.note, header="h3", class="", prefix=attrPrefix) }}



    <div class="sheet-znz-item-buttons">
    {# hidden checks for showing specific fields #}
    {% for type in itemTypes %}
        <input class="sheet-znz-hidden sheet-znz-item-type-{{type.id}}" type="checkbox" name="attr_{{attrPrefix}}_{{typeAttr}}" value="{{type.value}}" {{"checked" if type.default }} />
    {% endfor %}
    {% for type in itemTypes %}
        {% if type.equippable %}
            <button type="action" class="sheet-znz-{{type.value}}-field" name="act_equip{{type.value}}">Equip {{type.name}}</button>
        {% endif %}
    {% endfor %}
    </div>
    {% endcall %}
</div>

{% endmacro %}




{% macro equipmentStatRepeater(field='', options='', header='', class='') %}
    <div class="sheet-znz-field sheet-znz-equipment-stat-repeater {{class}}">
        <h3 class="sheet-znz-repeater-label">
            {{ header }}
        </h3>
        {% for num in range(0,field.count) %}
            {% set toJoin = ["attr_", field.attr_name, "_", num] %}
            {% set newAttr = toJoin | join %}

            <div class="sheet-znz-repeater-input">
                <div class="sheet-znz-equipment-stat">
                    <select name="{{newAttr}}">
                        <option value="" default></option>
                        {# a custom made array of options #}
                        {% for val in options %}
                            <option value="{{val.value}}">{{val.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="sheet-znz-equipment-stat-mod">
                    {% set modJoin = [newAttr, "_", field.repeat_mod_attr] %}
                    <input type="number" name="{{ modJoin | join}}"></input>
                </div>
            </div>

        {% endfor %}
    </div>
{% endmacro %}