{# Create skill/prof table 
    - data - pass in an entire array of fields (skills, proficiencies)
    - header - header on the table#}

{% macro create(data="", header="") %}
    <table class="sheet-znz-skill-table">
        {% if header %}
        <tr class="sheet-znz-header"><h2>{{header}}</h2></tr>
        {% endif %}

        {% for field in data %}
        <tr>
            <td class="sheet-znz-input"><input type="number" class="sheet-znz-line-input" name="attr_{{ field.attr_name }}"/></td>
            <td class="sheet-znz-label">
                {{field.display_name}} 
                {# This select is for styling the bonus #}
                <input class="sheet-znz-hidden sheet-znz-bonus-checker-plus" type="checkbox" name="attr_{{ field.attr_name}}_bonus_check" value="positive" />
                <input class="sheet-znz-hidden sheet-znz-bonus-checker-minus" type="checkbox" name="attr_{{ field.attr_name}}_bonus_check" value="negative" />
                <span class="sheet-znz-mod sheet-znz-bonus-display" name="attr_{{ field.attr_name }}_bonus"/>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endmacro %}