{% macro create(attrPrefix= '', item='') %}
    <div class="sheet-znz-skill">
        <div class="sheet-znz-input">
            <input type="number" class="sheet-znz-line-input" name="attr_{{ attrPrefix }}_{{ item.attr_name }}"/>
        </div>
        <div class="sheet-znz-name">
            {{ item.display_name }}
            <span class="sheet-znz-mod" name="attr_{{ attrPrefix }}_{{ item.attr_name }}_modifier_text"/>
            <input type="hidden" name="attr_{{ attrPrefix }}_{{ item.attr_name }}_modifier"/>
            <input type="hidden" name="attr_{{ attrPrefix }}_{{ item.attr_name }}_modifier_text"/>
        </div>
    </div>
{% endmacro %}