{# Generate Statblock 
    - Pass in each stat field individually #}

{% macro create(data='') %}
    <div class="sheet-znz-field sheet-znz-stat-block">
        <h2>{{ data.display_name }}</h2>
        <input type="number" name="attr_{{ data.attr_name }}" value="{{ data.default_value }}"/>
        <div class="sheet-znz-description">
        {% if data.has_max %}
            Stat Max: <input type="number" class="sheet-znz-line-input sheet-znz-max" name="attr_{{ data.attr_name }}_max" value="{{ data.default_value }}" />
        {% endif %}

        {% if data.explanation_text %}
            {{ data.explanation_text | safe }}
        {% endif %}
        </div>
    </div>
{% endmacro %}