<!---@ Variables for file-include -->
<!---@ DISPLAYNAME: text display on sheet -->
<!---@ ATTRNAME: attr name -->
<!---@ DEFAULTVAL: the default value of the field -->

<div class="sheet-znz-field sheet-znz-stat-block">
    <h2>@@DISPLAYNAME</h2>
    <input type="number" name="attr_@@ATTRNAME" value="@@DEFAULTVAL"/>
    <div class="sheet-znz-description">
        <input type="hidden" name="attr_@@ATTRNAME_max" value="@@DEFAULTVAL"/>
        @@if ( ATTRNAME != 'Exp'){
            Max: <span readonly name="attr_@@ATTRNAME_max"></span>
        }

    </div>
</div>