
{# using inline styles because css wasnt working... #}
<rolltemplate class="sheet-rolltemplate-zroll">
    <div class="sheet-template-container" style="border: solid 2px black; padding: 5px">
        <div class="sheet-zroll-header" style="color: white; background-color: purple; padding: 5px; font-weight: 900; border: solid 3px black">
            {{'{{name}}'}}
        </div>
        <div class="zroll-row" style="font-size: 10px; font-style: italics; padding: 5px 10px;">
            {{'{{description}}'}}
        </div>
        <div class="sheet-zroll-row" style="border: solid 1px black;">
            <div class="sheet-zroll-result" style="display:inline-block; width: 30%; padding: 8%; box-sizing: border-box; border-right: solid 1px black; margin: 5px 0;">
                <strong style="display: block; text-align: center; margin-bottom: 10px;">{{'{{successlabel}}'}}</strong>
                <div style="font-size: 24px; font-weight: 900; text-align: center; margin-bottom: 20px;">{{'{{success}}'}}</div>

                <div class="sheet-zroll-rolls" style="text-align: center;">
                    {{'{{successrolls}}'}}
                </div>
            </div>
            <div class="sheet-zroll-result" style="display:inline-block; width: 30%; padding: 8%; box-sizing: border-box; margin: 5px 0;">
                <strong style="display: block; text-align: center; margin-bottom: 10px;">{{'{{guardlabel}}'}}</strong>
                <div style="font-size: 24px; font-weight: 900; text-align: center; margin-bottom: 20px;">{{'{{guard}}'}}</div>

                <div class="sheet-zroll-rolls" style="text-align: center;">
                    {{'{{guardrolls}}'}}
                </div>
            </div>
        </div>
    </div>
</rolltemplate>