

<rolltemplate class="sheet-rolltemplate-zroll">
    <div class="sheet-template-container">
        <table>
            <tr><th>{{'{{name}}'}}</th></tr>
            <tr class="description">{{'{{description}}'}}</tr>
            <tr class="rollresult">
                <td>
                    <strong>{{'{{successlabel}}'}}</strong>
                    {{'{{success}}'}}
                </td>
                <td>
                    <strong>{{'{{guardlabel}}'}}</strong>
                    {{'{{guard}}'}}
                </td>
            </tr>

            <tr class="rolldisplay">
                <td>
                    {{'{{successrolls}}'}}
                </td>
                <td>
                    {{'{{guardrolls}}'}}
                </td>
            </tr>

            <tr class="message">
                {{'{{message}}'}}
            </tr>
        </table>
    </div>
</rolltemplate>