.main {
    padding: 3rem;

    h2 {
        font-family: "bloody";
        font-size: 8rem;
        line-height: 1;
        margin: 0;
        margin-bottom: 5rem;
        text-align: center;
        color: $darkred;
    }

    h4 {
        font-family: "bloody";
        font-size: 4rem;
        line-height: 1;
        margin: 0;
        margin-bottom: 1rem;
        color: $darkred;
    }
    

    code {
        background: $lightgray;
        padding: 2rem;
        border: solid 1px $gray;
        display: block;
    }
}