
{# Use classes to dynamically set which field appears based on dropdown by appending an array of classes #}
{% macro generateFieldClasses(types) %}
    {%- set result = 'type-field' -%}
    {%- for type in types -%}
        {%- set str = [" ","type_", type] | join -%}
        {%- set result = [result, str] | join -%}
    {%- endfor -%}
    {{- result -}}
{% endmacro %}


{# For single class #}
{% macro generateFieldClass(type) %}
    {%- set result = 'type-field' -%}
    {%- set result = [result," ", "type_", type] | join -%}
    {{- result -}}
{% endmacro %}


{% macro create(num, prefix='inventory') %}

    {# for easier shorthand #}
    {% set type = options.card.itemtypes %}

    <div class="sheet-card">
        {# Type indicator #}
        <div class="sheet-card-type">
            <div class="card-field-input">
                <select class="sheet-shy" name="attr_{{fields.card.type | getAttr | attach(prefix, num)}}">
                    {% for key, item in fields.card.type.options | dictsort %}
                        {% if key != 'default' %}
                            <option value="{{item.id}}">{{item.label}}</option>
                        {% endif %}
                    {% endfor %}
                </select>            
            </div>
        </div>

        {# Checkboxes for show and hide #}
        {% for key, item in fields.card.type.options %}
            <input type="checkbox" class="sheet-hidden type-toggle-{{item | getAttr}}" name="attr_{{fields.card.type | getAttr | attach(prefix, num)}}" value="{{item | getAttr}}"/>
            {# Label for show in equipment #}
            <div class="type-fields type-label">
                <span class="{{ generateFieldClass(item.id) }}">{{item | getLabel}}</span>
            </div>
        {% endfor %}

        {# Name - always on the top #}
        <div class="card-name">
            <div class="card-field-input">
                <input type="text" name="attr_{{fields.card.name | getAttr | attach(prefix, num)}}" placeholder="Item Name">
            </div>
        </div>

        <div class="type-fields">
            {%- set weaponClasses = [
                type.firearm.id, 
                type.blunt.id, 
                type.sharp.id, 
                type.projectile.id,
                type.throwing.id
            ] -%}

            {%- set rangedClasses = [
                type.firearm.id, 
                type.projectile.id,
                type.throwing.id
            ] -%}

            {%- set ammoClasses = [
                type.firearm.id, 
                type.projectile.id
            ] -%}

            {%- set armorClasses = [
                type.armor.id
            ]-%}

            {%- set durabilityClasses = [
                type.blunt.id, 
                type.sharp.id, 
                type.armor.id
            ]-%}

            {%- set equipmentClasses = [
                type.firearm.id, 
                type.blunt.id, 
                type.sharp.id, 
                type.projectile.id,
                type.throwing.id,
                type.armor.id
            ] -%}

            <div class="weapon-fields">
                <div class="sheet-row-flex align-start wrap">
                    {# Dmg #}
                    <div class="card-damage card-block {{ generateFieldClasses(equipmentClasses) }}">
                        <div class="card-field-label {{ generateFieldClasses(weaponClasses) }}">Damage</div>
                        <div class="card-field-label {{ generateFieldClasses(armorClasses) }}">Block</div>
                        <div class="card-field-input">
                            <input class="sheet-shy " type="number" name="attr_{{fields.card.damage | getAttr | attach(prefix, num)}}" value="{{fields.card.damage.default}}" />
                        </div>
                    </div>
                    
                    {# Accuracy #}
                    {# <div class="card-accuracy card-block {{ generateFieldClasses(weaponClasses)}}">
                        <div class="card-field-label">
                            {{ fields.card.accuracy | getLabel }}
                        </div>
                        <div class="card-field-input">
                            <input type="number" class=" sheet-shy" name="attr_{{fields.card.accuracy | getAttr | attach(prefix, num)}}" value="{{fields.card.accuracy.default}}"/>
                        </div>
                    </div> #}


                    {# Uses #}
                    <div class="card-uses card-block {{ generateFieldClasses(equipmentClasses) }}">
                        {# Ranged Only #}
                        <div class="card-field-label {{ generateFieldClasses(rangedClasses) }}">
                            Ammo
                            (<select class="sheet-shy inline sheet-input" name="attr_{{fields.card.ammotype | getAttr | attach(prefix, num)}}">
                                <optgroup>
                                {% for key, type in fields.character.ammo.options %}
                                    <option value="{{type | getAttr}}" {% if loop.first%} selected="selected" {%endif%}>{{type | getLabel}}</option>
                                {% endfor %}
                                </optgroup>
                            </select>)
                        </div>
                        {# Others #}

                        <div class="card-field-label {{ generateFieldClasses(durabilityClasses) }}">Durability</div>
                        <div class="card-field-input sheet-max">
                            <div>
                                <input type="number" class="sheet-shy" name="attr_{{fields.card.uses | getAttr | attach(prefix, num)}}" value="0"/>
                            </div>
                            <div class="sheet-divider">/</div>
                            <div>
                                <input type="number" class="sheet-shy" name="attr_{{fields.card.uses.max | attach(prefix, num)}}" value="0"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-notes">
            <textarea class="sheet-shy" name="attr_{{fields.card.description | getAttr | attach(prefix, num)}}"></textarea>
        </div>
        
        <div class="card-actions type-fields">
            {# Since roll20 uses curly braces for roll buttons, gulp replaces <% with double curly braces#}

            {# Equip/Unequip #}
            {% if prefix == 'equipment' %}
                <div class="card-action action-{{options.card.actions.unequip.id | attach(prefix, num)}} {{generateFieldClass('equipment')}} "><button type="action" name="act_{{options.card.actions.unequip.id | attach(prefix, num)}}">Unequip</button></div>

                {# Attacks - TODO set it up into a loop? #}

                {# Blunt #}
                {{- attackButton(
                    options.card.itemtypes.blunt.id,
                    'Blunt Melee Attack',
                    ['@{character_name} bashes with a(n) <%', fields.card.name | getAttr | attach(prefix, num),'%>!'] | join,
                    [ '<%', fields.character.combatskills.options.blunt | getAttr, '%>'] | join,
                    'Attack',
                    prefix,
                    num
                )-}}
                {# Sharp #}
                {{- attackButton(
                    options.card.itemtypes.sharp.id,
                    'Sharp Melee Attack',
                    ['@{character_name} slices and stabs with a(n) <%', fields.card.name | getAttr | attach(prefix, num),'%>!'] | join,
                    [ '<%', fields.character.combatskills.options.sharp | getAttr, '%>'] | join,
                    'Attack',
                    prefix,
                    num
                )-}}
                {# Firearm #}
                {{- attackButton(
                    options.card.itemtypes.firearm.id,
                    'Firearm Ranged Attack',
                    ['@{character_name} shoots a(n) <%', fields.card.name | getAttr | attach(prefix, num),'%>!'] | join,
                    [ '<%', fields.character.combatskills.options.firearm | getAttr, '%>'] | join,
                    'Attack',
                    prefix,
                    num
                )-}}
                {# Projectile #}
                {{- attackButton(
                    options.card.itemtypes.projectile.id,
                    'Projectile Ranged Attack',
                    ['@{character_name} fires a(n) <%', fields.card.name | getAttr | attach(prefix, num),'%>!'] | join,
                    [ '<%', fields.character.combatskills.options.projectile | getAttr, '%>'] | join,
                    'Attack',
                    prefix,
                    num
                )-}}
                {# Throwing #}
                {{- attackButton(
                    options.card.itemtypes.throwing.id,
                    'Throwing Ranged Attack',
                    ['@{character_name} throws a(n) <%', fields.card.name | getAttr | attach(prefix, num),'%>!'] | join,
                    [ '<%', fields.character.combatskills.options.throw | getAttr, '%>'] | join,
                    'Attack',
                    prefix,
                    num
                )-}}
                {# Armor #}
                {{- armorButton(
                    options.card.itemtypes.armor.id,
                    'Block',
                    ['@{character_name} blocks with  a(n) <%', fields.card.name | getAttr | attach(prefix, num),'%>!'] | join,
                    [ '<%', fields.character.combatskills.options.guard | getAttr, '%>'] | join,
                    'Block',
                    prefix,
                    num
                )-}}
                <div class="card-action {{generateFieldClasses( ammoClasses )}} "><button type="roll" value="!!reload id='{{fields.card.uses | getAttr | attach(prefix, num)}}' characterid='@{character_id}' max='{{fields.card.uses.max | attach(prefix, num)}}' type='<%{{fields.card.ammotype | getAttr | attach(prefix, num)}}%>' cost='<%{{fields.character.rolloptions.cost.id | getAttr}}%>' title='Reload <%{{fields.card.name | getAttr | attach(prefix, num)}}%>'">Reload</button></div>
            {% else %}
                <div class="card-action action-{{options.card.actions.equip.id | attach(prefix, num)}} {{generateFieldClass('inventory')}} "><button type="action" name="act_{{options.card.actions.equip.id | attach(prefix, num)}}">Equip</button></div>
                <div class="card-action action-{{options.card.actions.export.id | attach(prefix, num)}} {{generateFieldClass('inventory')}}"><button type="roll" name="roll_{{options.card.actions.export.id}}" value="Export Item:<br/>  !!pickup {{ fields.card | exportItem }}" >Export</button></div>
                <div class="card-action action-{{options.card.actions.delete.id | attach(prefix, num)}} {{generateFieldClass('inventory')}} "><button type="action" name="act_{{options.card.actions.delete.id | attach(prefix, num)}}">Delete</button></div>
            {% endif %}



        </div>

    </div>
{% endmacro %}

{# Template for an attack button #}
{% macro attackButton(typeid, title, action, target, buttontext, prefix, num) %}
    <div class="card-action {{generateFieldClass( typeid )}} "><button type="roll" class="card-roll-btn" value="!!aproll pool='<%{{fields.character.stats.stamina | getAttr}}%>' characterid='@{character_id}' cost='<%{{fields.character.rolloptions.cost.id | getAttr}}%>' resource='{{fields.character.stats.ap | getAttr }}:{{fields.character.stats.ap  | getLabel }}|{{fields.card.uses | getAttr | attach(prefix, num)}}:{{fields.card.uses | getLabel}}'  title='{{title | safe}}' action='{{action | safe}}' target='{{target | safe}}' multiply='<%{{fields.card.damage | getAttr | attach(prefix, num)}}%>:Damage' amountmod='-<%{{fields.character.stats.fatigue | getAttr}}%>' counter='{{fields.character.stats.fatigue | getAttr}}' difficulty='-<%{{fields.card.accuracy | getAttr | attach(prefix,num)}}%>|<%{{fields.character.rolloptions.difficulty | getAttr}}%>'">{{buttontext | safe}}</button></div>
{% endmacro %}

{% macro armorButton(typeid, title, action, target, buttontext, prefix, num) %}
    <div class="card-action {{generateFieldClass( typeid )}} "><button type="roll" class="card-roll-btn" value="!!aproll pool='<%{{fields.character.stats.stamina | getAttr}}%>' characterid='@{character_id}' cost='<%{{fields.character.rolloptions.cost.id | getAttr}}%>' resource='{{fields.character.stats.ap | getAttr }}:{{fields.character.stats.ap  | getLabel }}|{{fields.card.uses | getAttr | attach(prefix, num)}}:{{fields.card.uses | getLabel}}'  title='{{title | safe}}' action='{{action | safe}}' target='{{target | safe}}' multiply='<%{{fields.card.damage | getAttr | attach(prefix, num)}}%>:Damage' amountmod='-<%{{fields.character.stats.fatigue | getAttr}}%>' counter='{{fields.character.stats.fatigue | getAttr}}' difficulty='<%{{fields.character.rolloptions.difficulty | getAttr}}%>'">{{buttontext | safe}}</button></div>
{% endmacro %}