
{# Use classes to dynamically set which field appears based on dropdown by appending an array of classes #}
{% macro generateFieldClasses(types) %}
    {%- set result = 'type-field' -%}
    {%- for type in types -%}
        {%- set str = [" ","type_", type] | join -%}
        {%- set result = [result, str] | join -%}
    {%- endfor -%}
    {{- result -}}
{% endmacro %}


{# For single class #}
{% macro generateFieldClass(type) %}
    {%- set result = 'type-field' -%}
    {%- set result = [result," ", "type_", type] | join -%}
    {{- result -}}
{% endmacro %}


{% macro create(num, prefix='inventory') %}

    {# for easier shorthand #}
    {% set type = options.card.itemtypes %}

    <div class="sheet-card">
        {# Type indicator #}
        <div class="sheet-card-type">
            <div class="card-field-input">
                <select class="sheet-shy" name="attr_{{fields.card.type | getAttr | attach(prefix, num)}}">
                    {% for key, item in fields.card.type.options | dictsort %}
                        {% if key != 'default' %}
                            <option value="{{item.id}}">{{item.label}}</option>
                        {% endif %}
                    {% endfor %}
                </select>            
            </div>
        </div>

        {# Checkboxes for show and hide #}
        {% for key, item in fields.card.type.options %}
            <input type="checkbox" class="sheet-hidden type-toggle-{{item | getAttr}}" name="attr_{{fields.card.type | getAttr | attach(prefix, num)}}" value="{{item | getAttr}}"/>
        {% endfor %}

        {# Name - always on the top #}
        <div class="card-name">
            <div class="card-field-input">
                <input type="text" name="attr_{{fields.card.name | getAttr | attach(prefix, num)}}" placeholder="Item Name">
            </div>
        </div>

        <div class="type-fields">
            {%- set weaponClasses = [
                type.firearm.id, 
                type.blunt.id, 
                type.sharp.id, 
                type.projectile.id,
                type.throwing.id
            ] -%}

            {%- set rangedClasses = [
                type.firearm.id, 
                type.projectile.id,
                type.throwing.id
            ] -%}

            {%- set armorClasses = [
                type.armor.id
            ]-%}

            {%- set durabilityClasses = [
                type.blunt.id, 
                type.sharp.id, 
                type.armor.id
            ]-%}

            {%- set equipmentClasses = [
                type.firearm.id, 
                type.blunt.id, 
                type.sharp.id, 
                type.projectile.id,
                type.throwing.id,
                type.armor.id
            ] -%}

            <div class="weapon-fields">
                <div class="sheet-row-flex align-start wrap">
                    {# Dmg #}
                    <div class="card-damage card-block {{ generateFieldClasses(equipmentClasses) }}">
                        <div class="card-field-label {{ generateFieldClasses(weaponClasses) }}">Damage</div>
                        <div class="card-field-label {{ generateFieldClasses(armorClasses) }}">Block</div>
                        <div class="card-field-input">
                            <input class="sheet-shy " type="number" name="attr_{{fields.card.damage | getAttr | attach(prefix, num)}}" value="{{fields.card.damage.default}}" />
                        </div>
                    </div>
                    
                    {# Accuracy #}
                    <div class="card-accuracy card-block {{ generateFieldClasses(weaponClasses)}}">
                        <div class="card-field-label">
                            {{ fields.card.attacks | getLabel }}
                        </div>
                        <div class="card-field-input">
                            <input type="number" class=" sheet-shy" name="attr_{{fields.card.attacks | getAttr | attach(prefix, num)}}" value="{{fields.card.attacks.default}}"/>
                        </div>
                    </div>
                    <name="@{}">


                    {# Uses #}
                    <div class="card-uses card-block {{ generateFieldClasses(equipmentClasses) }}">
                        {# Ranged Only #}
                        <div class="card-field-label {{ generateFieldClasses(rangedClasses) }}">
                            Ammo
                            (<select class="sheet-shy inline sheet-input" name="attr_{{fields.card.ammotype | getAttr | attach(prefix, num)}}">
                                <optgroup>
                                {% for key, type in fields.character.ammo.options %}
                                    <option value="{{type | getAttr}}" {% if loop.first%} selected="selected" {%endif%}>{{type | getLabel}}</option>
                                {% endfor %}
                                </optgroup>
                            </select>)
                        </div>
                        {# Others #}

                        <div class="card-field-label {{ generateFieldClasses(durabilityClasses) }}">Durability</div>
                        <div class="card-field-input sheet-max">
                            <div>
                                <input type="number" class="sheet-shy" name="attr_{{fields.card.uses | getAttr | attach(prefix, num)}}" value="0"/>
                            </div>
                            <div class="sheet-divider">/</div>
                            <div>
                                <input type="number" class="sheet-shy" name="attr_{{fields.card.uses.max | attach(prefix, num)}}" value="0"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-notes">
            <textarea class="sheet-shy" name="attr_{{fields.card.description | getAttr | attach(prefix, num)}}"></textarea>
        </div>
        
        <div class="card-actions">
            {# Since roll20 uses curly braces for roll buttons, gulp replaces <% with double curly braces#}

            {# Equip/Unequip #}
            {% if prefix == 'equipment' %}
                <div class="card-action action-{{options.card.actions.unequip.id | attach(prefix, num)}} {{generateFieldClass('equipment')}} "><button type="action" name="act_{{options.card.actions.unequip.id | attach(prefix, num)}}">Unequip</button></div>
            {% else %}
                <div class="card-action action-{{options.card.actions.equip.id | attach(prefix, num)}} {{generateFieldClass('inventory')}} "><button type="action" name="act_{{options.card.actions.equip.id | attach(prefix, num)}}">Equip</button></div>
                <div class="card-action action-{{options.card.actions.export.id | attach(prefix, num)}} {{generateFieldClass('inventory')}}"><button type="roll" name="roll_{{options.card.actions.export.id}}" value="Export Item:<br/>  !!pickup {{ fields.card | exportItem }}" >Export</button></div>
                <div class="card-action action-{{options.card.actions.delete.id | attach(prefix, num)}} {{generateFieldClass('inventory')}} "><button type="action" name="act_{{options.card.actions.delete.id | attach(prefix, num)}}">Delete</button></div>
            {% endif %}




            <button type="roll" class="card-action sheet-attack-ranged" value="/roll <%{{fields.character.stats.ap | getAttr }}%>d10<<%{{fields.character.combatskills.options.firearm | getAttr}}%>" name="roll_{{options.card.actions.attack}}" >attack</button>
        </div>

    </div>
{% endmacro %}


{% macro cardAction(key, action, prefix, num) %}

    {% switch key %}
        {% case 'attackblunt' %}
            {% set rollCommand = '!!aproll q=<%{{fields.character.stats.stamina | getAttr}}' %}
    {% endswitch %}



    <div class="card-action action-{{action.id}}">
        {% if action.type == 'roll' %}
            <button type="roll" class="card-roll-btn" value="{{rollCommand}}">{{action.label}}</button>
        {% else %}
            <button type="action" name="act_{{action.id | attach(prefix, num)}}">{{action.label}}</button>
        {% endif %}
    </div>
{% endmacro %}

        <div class="sheet-card-actions">
            {# <button type="roll" class="sheet-attack-button sheet-attack-melee btn" value="!!attack rolls='?{Number of Attacks | {{'@{'}}{{fields.character.stats.ap.id}}_rolls{{'}'}}}' defend='?{Number of Defense Rolls | {{'@{'}}{{fields.character.stats.ap.id}}_rolls{{'}'}}}' dice='{{'@{'}}{{fields.card.damage.id | attach(prefix, num)}}{{'}'}}' weaponname='{{'@{'}}{{fields.card.name.id | attach(prefix, num)}}{{'}'}}' type='{{'@{'}}{{fields.card.weapontype.id | attach(prefix, num)}}{{'}'}}' resource='{{fields.card.uses.id | attach(prefix, num)}}' characterid='@{character_id}'" name="roll_{{options.card.actions.attack}}" >Combat</button> #}
            
            
            {# melee #}<button type="roll" class="sheet-attack-button sheet-attack-melee btn" value="!!combat success='?{Number of Attacks | {{'@{'}}{{fields.character.stats.ap.id}}_rolls{{'}'}}}' guard='?{Number of Defense Rolls | {{'@{'}}{{fields.character.stats.ap.id}}_rolls{{'}'}}}' sdice='{{'@{'}}{{fields.card.damage.id | attach(prefix, num)}}{{'}'}}' gdice='d{{'@{'}}{{fields.character.defense.id}}{{'}'}}' sbonus='{{'@{'}}{{fields.character.combatskills.options.blunt.id}}{{'}'}}' gbonus='{{'@{'}}{{fields.character.defense.bonus.id}}{{'}'}}' weaponname='{{'@{'}}{{fields.card.name.id | attach(prefix, num)}}{{'}'}}' type='{{'@{'}}{{fields.card.weapontype.id | attach(prefix, num)}}{{'}'}}' sresource='{{fields.card.uses.id | attach(prefix, num)}}'  limit='{{'@{'}}{{fields.character.stats.ap.id}}{{'}'}}' characterid='@{character_id}'" name="roll_{{options.card.actions.attack}}" >Combat</button>
            {# ranged #}<button type="roll" class="sheet-attack-button sheet-attack-ranged btn" value="!!combat success='?{Number of Attacks | {{'@{'}}{{fields.character.stats.ap.id}}_rolls{{'}'}}}' guard='?{Number of Defense Rolls | {{'@{'}}{{fields.character.stats.ap.id}}_rolls{{'}'}}}' sdice='{{'@{'}}{{fields.card.damage.id | attach(prefix, num)}}{{'}'}}' gdice='d{{'@{'}}{{fields.character.defense.id}}{{'}'}}' sbonus='{{'@{'}}{{fields.character.combatskills.options.firearm.id}}{{'}'}}' gbonus='{{'@{'}}{{fields.character.defense.bonus.id}}{{'}'}}' weaponname='{{'@{'}}{{fields.card.name.id | attach(prefix, num)}}{{'}'}}' type='{{'@{'}}{{fields.card.weapontype.id | attach(prefix, num)}}{{'}'}}' sresource='{{fields.card.uses.id | attach(prefix, num)}}'  limit='{{'@{'}}{{fields.character.stats.ap.id}}{{'}'}}' characterid='@{character_id}'" name="roll_{{options.card.actions.attack}}" >Combat</button>
            {# <button type="roll" class="sheet-reload-button btn" name="act_{{options.card.actions.reload | attach(prefix, num)}}" value="!!reload weapon={{num}}">Reload</button> #}
            <button type="action" class="sheet-equip-button btn" name="act_{{options.card.actions.equip.id | attach(prefix, num)}}">Equip</button>
            <button type="action" class="sheet-unequip-button btn" name="act_{{options.card.actions.unequip.id | attach(prefix, num)}}">Unequip</button>
            <button type="roll" class="sheet-export-button" name="roll_{{options.card.actions.export}}" value="!!pickup {{ fields.card | exportItem }} characterid=@{target|Target 1|character_id}'" >Trade Item</button>
            <button type="action" class="sheet-delete-button btn-danger" name="act_{{options.card.actions.delete | attach(prefix, num)}}">Delete</button>
        </div>
    </div>