{% import './outputfield.njk' as field %}


{% macro create(type, attrPrefix, itemsData, typeText) %}

<div class="sheet-equipped-item sheet-{{type}}">
    <div class="sheet-main-header">
        <div class="sheet-header-image">
            <div class="sheet-image"></div>
            <div class="sheet-unequip">
                <button type="action" class="sheet-equip-button" name="act_unequip{{type}}" >Unequip</button>
            </div>
        </div>
        <div class="sheet-name">
            <input class="sheet-line-input" type="text" name="attr_{{attrPrefix}}_{{itemsData.fields.name.attr_name}}" value="Item"></input>

            <div class="sheet-under-name">
                <div class="sheet-typetext">{{typeText}}</div>
            </div>
        </div>
        <div class="sheet-quantity">
            <div class="sheet-label">
                Quantity
            </div>
            <input class="sheet-borderless-input" type="text" name="attr_{{attrPrefix}}_{{itemsData.fields.quantity.attr_name}}" value="1"></input>
        </div>
    </div>
    <div class="sheet-description">
        <div class="sheet-label">Description</div>
        <textarea name="attr_{{attrPrefix}}_{{itemsData.fields.description.attr_name}}" value=""></textarea/>
    </div>
    <div class="sheet-body">
        <div class="sheet-melee-fields">
            <div class="sheet-melee-fields-container">
                {% for fld in itemsData.fields.melee %}
                    {{ field.outputField(field=fld, prefix=attrPrefix, itemsData=itemsData)}}
                {% endfor %}
            </div>
        </div>

        <div class="sheet-ranged-fields">
            <div class="sheet-ranged-fields-container">
                {% for fld in itemsData.fields.ranged %}
                    {{ field.outputField(field=fld, prefix=attrPrefix, itemsData=itemsData)}}
                {% endfor %}
            </div>
        </div>

        <div class="sheet-armor-fields">
            <div class="sheet-armor-fields-container">
                {% for fld in itemsData.fields.equipment %}
                <div class="sheet-armor-fields-block">
                    {{ field.outputField(field=fld, prefix=attrPrefix, itemsData=itemsData)}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {# Retain for unequipping purposes #}
    <div class="sheet-hidden">
        <input type="text" name="attr_{{attrPrefix}}_{{itemsData.fields.type.attr_name}}"/>
        <input type="text" name="attr_{{attrPrefix}}_{{itemsData.fields.weight.attr_name}}"/>
    </div>


</div>




{% endmacro %}