{#

Macro for creating an inventory item.
Top half is hardcoded output.
outputFields is used for dynamically outputting type specific fields


- prefix - prepended to every attr
- itemsData - pass the items.json here so we have a reference in-macro

#}


{% macro create(prefix='inventory', sheetData="") %}
{% import './outputfield.njk' as field %}


<div class="sheet-item-card sheet-type-{{prefix}}">
    <div class="sheet-item-main">
        {# Image, Head, Type #}
        <div class="sheet-main-top">
            {% for itemType in sheetData.items.itemTypes %}
                <input class="sheet-hidden sheet-item-type-{{itemType.value}}" type="checkbox" name="attr_{{prefix}}_{{sheetData.items.fields.type.attr_name}}" value="{{itemType.value}}" {{"checked" if sheetData.items.fields.type.default == itemType.value }}/>
            {% endfor %}
            <div class="sheet-image"></div>
            <div class="sheet-content">
                <div class="sheet-name">
                    <input class="sheet-line-input" type="text" name="attr_{{prefix}}_{{sheetData.items.fields.name.attr_name}}" value="Item"></input>
                </div>
                <div class="sheet-type">
                    {# Item Type #}
                    <select class="sheet-select-borderless" name="attr_{{prefix}}_{{sheetData.items.fields.type.attr_name}}" value="{{sheetData.items.itemTypes[0].value}}">
                        {% for option in sheetData.items.itemTypes %}
                            <option value="{{option.value}}">{{option.name}}</option>
                        {% endfor %}
                    </select>

                    {% for itemType in sheetData.items.itemTypes %}
                        <input class="sheet-hidden sheet-item-type-{{itemType.value}}" type="checkbox" name="attr_{{prefix}}_{{sheetData.items.fields.type.attr_name}}" value="{{itemType.value}}" {{"checked" if sheetData.items.fields.type.default == itemType.value }}/>
                    {% endfor %}
                    
                    {# Melee SubType #}
                    <div class="sheet-subtype sheet-subtype-melee">
                        Type: 
                        <select class="sheet-select-borderless" name="attr_{{prefix}}_{{sheetData.items.fields.subtypes.melee}}" value="{{sheetData.items.meleetypes[0].value}}">
                            {% for option in sheetData.items.meleeTypes %}
                                <option value="{{option.value}}">{{option.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {# Ranged SubType #}
                    <div class="sheet-subtype sheet-subtype-ranged">
                        Type: 
                        <select class="sheet-select-borderless" name="attr_{{prefix}}_{{sheetData.items.fields.subtypes.ranged}}" value="{{sheetData.items.rangedTypes[0].value}}">
                            {% for option in sheetData.items.rangedTypes %}
                                <option value="{{option.value}}">{{option.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {# armor SubType #}
                    <div class="sheet-subtype sheet-subtype-armor">
                        Type: 
                        <select class="sheet-select-borderless" name="attr_{{prefix}}_{{sheetData.items.fields.subtypes.armor}}" value="{{sheetData.items.armorTypes[0].value}}">
                            <option value="">Select</option>
                            {% for option in sheetData.items.armorTypes %}
                                <option value="{{option.value}}">{{option.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="sheet-main-bottom">
            <div class="sheet-description">
                <div class="sheet-label">Description</div>
                <textarea name="attr_{{prefix}}_{{sheetData.items.fields.description.attr_name}}" value=""></textarea/>
            </div>
        </div>

        {# Stats #}
        <div class="sheet-main-bottom">
            {% for itemType in sheetData.items.itemTypes %}
                <input class="sheet-hidden sheet-item-type-{{itemType.value}}" type="checkbox" name="attr_{{prefix}}_{{sheetData.items.fields.type.attr_name}}" value="{{itemType.value}}" {{"checked" if sheetData.items.fields.type.default == itemType.value }}/>
            {% endfor %}
            <div class="sheet-melee-fields">
                <div class="sheet-melee-fields-container">
                    {% for fld in sheetData.items.fields.melee %}
                        {{ field.outputField(field=fld, prefix=prefix, data=sheetData)}}
                    {% endfor %}
                </div>
            </div>

            <div class="sheet-ranged-fields">
                <div class="sheet-ranged-fields-container">
                    {% for fld in sheetData.items.fields.ranged %}
                        {{ field.outputField(field=fld, prefix=prefix, data=sheetData)}}
                    {% endfor %}
                </div>
            </div>

            <div class="sheet-armor-fields">
                <div class="sheet-armor-fields-container">
                    {% for fld in sheetData.items.fields.equipment %}
                    <div class="sheet-armor-fields-block">
                        {{ field.outputField(field=fld, prefix=prefix, data=sheetData)}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="sheet-item-side">
        <div class="sheet-item-side-container">

            <div class="sheet-quantity sheet-amount-counter">
                <div class="sheet-label">
                    Quantity
                </div>
                <input class="sheet-borderless-input" type="text" name="attr_{{prefix}}_{{sheetData.items.fields.quantity.attr_name}}" value="1"></input>
            </div>

            <div class="sheet-weight sheet-amount-counter">
                <div class="sheet-label">
                    Weight
                </div>
                <input class="sheet-borderless-input" type="text" name="attr_{{prefix}}_{{sheetData.items.fields.weight.attr_name}}" value="1"></input>
            </div>

            <input class="sheet-hidden sheet-item-type-{{sheetData.items.itemTypes[0].value}}" type="checkbox" name="attr_{{prefix}}_{{sheetData.items.fields.type.attr_name}}" value="{{sheetData.items.itemTypes[0].value}}" checked/>
            <div class="sheet-equip">
                {% for itemType in sheetData.items.itemTypes %}
                    <input class="sheet-hidden sheet-item-type-{{itemType.value}}" type="checkbox" name="attr_{{prefix}}_{{sheetData.items.fields.type.attr_name}}" value="{{itemType.value}}" {{"checked" if sheetData.items.fields.type.default == itemType.value }}/>
                {% endfor %}
                {% for armor in sheetData.items.armorTypes %}
                    <input class="sheet-hidden sheet-item-type-{{armor.value}}" type="checkbox" name="attr_{{prefix}}_{{sheetData.items.fields.subtypes.armor}}" value="{{armor.value}}" {{"checked" if armor.value == sheetData.items.armorTypes[0].value }}/>
                {% endfor %}
                {% for name, type in sheetData.items.equipTypes %}
                    <button type="action" class="sheet-equip-button sheet-equip-{{type}}" name="act_equip{{type}}" >Equip {{type | capitalize}}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endmacro %}

