{# Create skill/prof table 
    - data - pass in an entire array of fields (skills, proficiencies)
    - header - header on the table#}

{% macro create(data="", header="", defaultVal="") %}
    <div class="sheet-skill-list-container">
        {% if header %}
        <div class="sheet-list-header">
            <h2>{{header}}</h2>
        </div>
        {% endif %}

        <div class="sheet-skill-list">
        {% for field in data %}
            <div class="sheet-skill">
                <button type="roll" class="sheet-hidden-roll" value="!!zroll ?{Number of Rolls? | 0} --{{field.attribute}} --?{Spend Resource? |None|energy|sanity|health|ammo|durability}">
                <div class="sheet-field">
                    <input type="text" name="attr_{{field.attr_name}}" class="sheet-line-input" value="{{defaultVal}}" >
                </div>
                <div class="sheet-label">
                    {{field.display_name}}
                    <input type="hidden" class="sheet-bonus-check" name="attr_{{field.attr_name}}_bonus_check">
                    <span class="sheet-bonus" name="attr_{{field.attr_name}}_bonus" value="0"></span>
                    <span class="sheet-attr">[{{field.attr_shorthand}}]</span>
                </div>
                </button>
            </div>
        {% endfor %}
        </div>
    </div>

{% endmacro %}