{% import './card.njk' as card %}

{% macro create(label, emptytext, slotdata) %}

    <div class="sheet-slot-section sheet-slot-section-{{slotdata.type}}">
        <div class="sheet-row-flex sheet-label-row">
            <label>{{label}}</label>
            <div class="sheet-subtext">
                Slots:
                <input type="text" class="sheet-number sheet-shy" name="attr_{{slotdata | getAttr}}" value="{{slotdata.default}}"/>
            </div>
        
        </div>

        
        <div class="sheet-wrap sheet-slot-toggle">
            {# Checkbox for determining current number of slots #}
            {% for num in range(1, slotdata.max + 1)%} {# 1 index since player can edit slots #}
                <input type="checkbox" class="sheet-hidden sheet-slot-toggle sheet-slot-toggle-{{num}}" name="attr_{{slotdata | getAttr}}" value="{{num}}" {{"checked" if num <= slotdata.default}}/>
            {% endfor %}

            {# Slots. CSS shows/hides based on slot number #}
            {% for num in range(1, slotdata.max + 1) %} 
                <div class="sheet-slot sheet-slot-{{num}}">
                    {# Checkbox to determine if we show the empty text or the content #}
                    <input type="checkbox" class="slot-control sheet-hidden" name="attr_{{slotdata.type | attach('', num)}}"/>
                    <div class="sheet-empty-text">{{emptytext}}</div>
                    <div class="slot-content">
                        {{ card.create(num, slotdata.type)}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endmacro %}


