
// was not working for some reason.
.sheet-rolltemplate-zroll {

    .sheet-template-container {
        border: solid 2px $black;
    }

    .sheet-zroll-header {
        color: $white;
        background-color: $purple;
        border: solid 3px $black;
        padding: 1rem;
        font-weight: 700;
    }

    .sheet-zroll-row {
        padding: 1rem;
        border: double 2px $black;
    }
}