// Stat bonus text
.sheet-bonus {
    display: none;
    font-size: $small;
}


.sheet-bonus-check[value="pos"] ~ .sheet-bonus {
    display: inline-block;
    color: $green;

    &:before {
        content: "+"
    }

    .sheet-skill-list &{
        &:before {
            content: "(+"
        }

        &:after {
            content: ")"
        }
    }
}

.sheet-bonus-check[value="neg"] ~ .sheet-bonus {
    display: inline-block;
    color: $red;

    .sheet-skill-list &{
        &:before {
            content: "("
        }

        &:after {
            content: ")"
        }
    }
}
