.sheet-bubble {
    padding: 2rem;
    padding-top: 3rem;
    border: solid 3px $black;
    border-radius: 2rem;
    font-size: $medium;
    margin-right: $gap;
    margin-bottom: $gap;
    display: flex;
    align-items: center;
    position: relative;

    .sheet-content {
        width: 100%;
    }

    .sheet-title {
        position:absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 0.25rem 1rem;
        border: solid 3px $black;
        background-color: $white;
        font-weight: 700;
        white-space: nowrap
    }

    @include flexBasis(30);
    @include flexBasis(40);
    @include flexBasis(50);
    @include flexBasis(60);

    &.extra-bottom {
        margin-bottom: $gap * 1.5;
    }

}
