.sheet-counter-box {
    .sheet-counter {
        display: flex;
        margin-bottom: 2rem;
        justify-content: space-between;
        font-size: $large;

        .sheet-input {
            span {
                margin-right: 2rem;
            }
        }

        &.sheet-counter-custom {
            .sheet-label {
                width: 50%;
            }
        }
    }

    &:not(:last-child){
        border-bottom: solid 3px $black;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
    }

    h2 {
        text-align: center;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}