.sheet-counter-box {
    .sheet-counter {
        display: flex;
        margin-bottom: 2rem;
        justify-content: space-between;
        font-size: $large;

        .sheet-input {
            display: flex;

            span {
                margin: 0 1rem;
            }
        }
        
        &.sheet-counter-custom {
            .sheet-label {
                width: 50%;
            }

            .sheet-weight {
                font-size: $small;
                display: flex;

                input {
                    padding: 0;
                    align-self: flex-end;
                    height: 15px;
                    text-align: center;
                }

                &:after {
                    content: 'lbs';
                    align-self: flex-end;
                    margin-left: 0.1rem;
                }
            }
        }
    }

    &:not(:last-child){
        border-bottom: solid 3px $black;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
    }

    h2 {
        text-align: center;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}