.sheet-slot-toggle {
    //Show Hide Available Weapon Slots!
    @for $i from 1 through 12 { // 1 indexed
        // If weapon slot i is checked...
        .sheet-slot-toggle-#{$i}:checked{

            //then show all weapons i and under!
            @for $j from 1 through $i{
                ~ .sheet-slot-#{$j}{
                    display: block;
                }
            }
        }
    }
}



.sheet-slot {
    .sheet-content {
        // display: none; //uncomment after dev
        display: block;
    }
    

    // remove after dev
    .sheet-empty-text {
        display: none!important;
    }

    .sheet-active {
        display: none;
        &:checked {
            ~ .sheet-content {
                display: block;
            }

            ~ .sheet-empty-text {
                display: none;
            }

        }
    }
}


.sheet-slot-section {
    margin-top: 2 * $gap;


    // Slots label text
    .sheet-label-row {
        justify-content: start;

        label {
            display: inline-block;
            width: auto;
            margin-right: 2rem;
        }
        
        .sheet-subtext {
            font-size: $small;
    
            input {
                font-size: $small;
    
                &.sheet-shy {
                    width: 2.5rem;
                }
            }
        }
    }

    .sheet-wrap {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .sheet-slot {
        width: 225px;
        display: none;
        border: solid 4px $gray;
        border-radius: 1rem;
        min-height: 5rem;
        padding: 1rem;
        margin-right: $gap;
        margin-bottom: $gap;

        .sheet-empty-text {
            height: 100%;
            font-size: $medium;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .sheet-content {
            width: 100%;
        }
    }
}
