

// Switch on an element that is a sibling of the switch input.
@mixin switch($contentClass, $inputClass, $sign:'~', $none: 'none'){
    
    .#{$contentClass}{
        display: #{$none};
    }
    

    input.#{$inputClass} { 
        &:checked {
            & #{$sign} .#{$contentClass} { //use + for adjacent
                display: block;
            }
        }
    }
}


//Display equipment details when item is equipped
@include switch('slot-content', 'slot-control');


// For Ability Switching
@for $i from 1 through $abilityCount {
    @include switch('select-switch-display-#{$i}', 'select-switch-control-#{$i}');
}

.select-switch {
    .select-switch-dropdown {
        margin-right: 2rem;
        flex-basis: 35%;
    }
    
    .select-switch-display {
        flex-basis:65%;
    }
}



