
.sheet-inner-toggle,
.sheet-toggle,
.sheet-toggle-adj 
{
    .sheet-control {
        display: none;
    }
    .sheet-content {
        display: none;
    }
    
}

//toggle general
.sheet-inner-toggle, .sheet-toggle {
    .sheet-control {
        
        &:checked{
        
            & ~ .sheet-content{
                display: block;
            }
        
        }
    }
}

//toggle adjacent only
.sheet-toggle-adj {
    .sheet-control {
        
        &:checked{
        
            & + .sheet-content{
                display: block;
            }
        
        }
    }

}

