.character-status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background-color: $darkgray;
    border: solid 3px $black;
    box-sizing: border-box;

    .stage {
        display: flex;
        height: 100%;
    }
    

    .box {
        border: solid 2px;
        border-color: #727274 #262626 #262626 #727274;
        padding: 0.5rem;
        padding-top: 0;
    }

    .label-text {
        font-size: $xLarge;
        text-align: center;
        color: $bloodred;
        font-family: $shadows;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0.15rem 0.15rem $black;
    }

    .stats-section {
        display: flex;

        .stat-tracker {
            min-width: 10rem;

            .stat-label {

                button {
                    border: none;
                    font-size: 0;
                    vertical-align: middle;
                    width: 10px;
                    background: url(https://img.icons8.com/ios-glyphs/30/000000/refresh--v1.png) no-repeat center;
                    background-size: contain;
                    transition: 0.3s;
                    border-radius: 2rem;

                    &:hover{
                        background-color: $white;
                    }

                    &:active {
                        background-color: $bloodred;
                    }
                }
            }

            .stat-wrapper {
                display: flex;
                flex-direction: column;
            }

            .main {
                text-align: center;
            }

            .sub {
                font-size: $small;
                margin-top: 0.4rem;
                text-align: center;

                input {
                    font-size: $small;
                    padding: 0;
                    font-weight: 300;
                    color: $black; 
                }
            }
            
            input {
                background-color: $darkgray;
                color: $black;
                font-size: $xLarge;
                text-align: center;
                font-weight: 700;
                border: none;
            }
        }
    }


    .roll-section {
        flex: 1 1 100%;
        .stage {
            padding: 0 1rem;
            flex-direction: column;
            justify-content: center;
        }

        .roll-input-row {
            display: flex;
            font-size: $medium;
            font-weight: 700;
            margin-bottom: 1rem;
            align-items: center;

            span {
                margin-right: 1rem;
            }

            input {
                padding: 0.2rem;
                background-color: $darkgray;
                border: none;
                border-bottom: solid 1px $black;
                text-align: center;
                color: $black;
            }
        }
    }

    .ammo-section {
        .box {
            font-size: $small;

            input {
                padding: 0;
                background-color: $darkgray;
                text-align: center;
            }
        }

        .ammo-label{
            font-size: $large;
            font-weight: 700;
            color: $bloodred
        }
    }

}