/**
* Component specific styles
*/
//Stat Row
.sheet-znz-area-status {
    > .sheet-znz-row {
        margin: 0;
        align-items: center;
        height: 100%;
    }
}

//Stat Block
.sheet-znz-field {
    &.sheet-znz-stat-block {
        text-align: center;

        .sheet-znz-description {
            font-size: 12px;
            span {
                font-weight: 700;
            }
        }
    }
}


// Equipped Weapon
.sheet-znz-area-equipped-weapon {
    h2 {
        text-align: center;
    }

    .sheet-znz-field {
        flex-basis: 45%;

        &.sheet-znz-itemcard-name {
            flex-basis: 100%;
            margin: 0;
        }
    }
}
