/**
* Reusable classes and elements across the sheet. 
*/




.sheet-znz-center {
    text-align: center;
}

.sheet-znz-hidden {
    display: none;
}

//span with a character and then the input
.sheet-znz-prefixed-input {
    span {
        border: 1px #ccc solid;
        border-radius: 3px;
        padding: 4px;
        color: #555;
        line-height: 18px;
        font-size: 13px;
        font-weight: normal;
        vertical-align: middle;
        display: inline-block;
    
        input {
            font-size: 13px;
            line-height: 18px;
            font-size: 13px;
            border: none;
            padding: 0;
            margin: 0;
            vertical-align: auto;
        }
    }
}

.sheet-divider{
    font-size: 16px;
    margin: 0 6px;
    font-weight: 900;
}

