/**
* Reusable classes and elements across the sheet. 
*/




.sheet-znz-center {
    text-align: center;
}

.sheet-znz-hidden {
    display: none;
}

//span with a character and then the input
.sheet-znz-prefixed-input {
    span {
        border: 1px #ccc solid;
        border-radius: 3px;
        padding: 4px;
        color: #555;
        font-weight: normal;
        vertical-align: middle;
        display: inline-block;
    
        input {
            border: none;
            padding: 0;
            margin: 0;
            vertical-align: auto;
        }
    }
}

.sheet-divider{
    font-size: $large;
    margin: 0 6px;
    font-weight: 900;
}

.sheet-znz-note {

    &-tiny {
        textarea {
            height: 30px;
        }
    }

    &-small {
        textarea {
            height: 50px;
        }
    }
}

input.sheet-znz-line-input {
    margin: 0;
    border: 0;
    padding: 2px;
    border-bottom: 1px solid $gray;
}

