//Show more toggle

.sheet-znz-expandable{
    display: none;
    margin: 20px 0;
}

input.sheet-znz-expand:checked ~ .sheet-znz-expandable{
    display: block;
}

.sheet-znz-expand-button{
    position: relative;

    input[type=checkbox]{
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }

    label{
        color: #3757c1;

        &:after{
            content: '';
            border: solid #3757c1;
            border-width: 0 3px 3px 0;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            position: absolute;
            top:3px;
            margin-left: 10px;
            transition: transform 0.3s;
        }
    }

    input[type=checkbox]:checked{
        + label{
            &:after{
                transform: rotate(225deg) rotateY(360deg);
                top: 5px;
            }
        }
    }
}