$primaryColor: #666;
$secondColor: darkgray;

// To Do - remove legacy/unused styles

/** Show more toggle **/
.sheet-znz-expandable{
    display: none;
    margin: 20px 0;
}

input.sheet-znz-expand:checked ~ .sheet-znz-expandable{
    display: block;
}

.sheet-znz-expand-button{
    position: relative;

    input[type=checkbox]{
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }

    .sheet-label{
        color: $primaryColor;
        font-size: 12px;
        margin: auto;
        width: 40%;

        &:after{
            content: '';
            border: solid $primaryColor;
            border-width: 0 3px 3px 0;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            position: absolute;
            top:3px;
            margin-left: 10px;
            transition: transform 0.3s;
        }
    }

    input[type=checkbox]:checked{
        ~ .sheet-label{
            &:after, &:before{
                transform: rotate(225deg) rotateY(360deg);
                top: 5px;
            }
        }

        ~ .sheet-znz-expand-text{
            display: none;
        }

        ~ .sheet-znz-collapse-text{
            display: block;
        }
    }

    input[type=checkbox]:not(:checked){
        ~ .sheet-znz-expand-text{
            display: block;
        }

        ~ .sheet-znz-collapse-text{
            display: none;
        }
    }

    &.sheet-znz-expandable-section{
        margin: 5px 0;
        border-bottom: solid 1px $lightgray;

        .sheet-label {
            text-align: center;
            
            //arrow both sides 
            &:before{
                content: '';
                border: solid $primaryColor;
                border-width: 0 3px 3px 0;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                position: absolute;
                top:3px;
                margin-left: -20px;
                transition: transform 0.3s;
            }
        }
    }
}
    
.sheet-znz-expandable{
    
    //Different Color for Nested Expandables
    .sheet-znz-expand-button{
        &.sheet-znz-expandable-section{
            .sheet-label {
                color: $secondColor;
                &:before, &:after{
                    border-color: $secondColor;
                    border-style: dashed;
                }
    
                span {
                    &:before, &:after{
                        border-style: dashed;
                        border-color: $secondColor
                    }
                }
            }
        }
    }

    .sheet-znz-expandable{
        border-bottom: dashed 1px $secondColor;
    }
}

