.sheet-character{
    label {
        font-size: $large;
    }   
}


.sheet-row-flex {
    display: flex;

    &.sheet-space-around {
        justify-content: space-around;
    }
}


.sheet-divider {
    margin: 0 0.5rem;
    font-size: $xLarge;
    font-weight: 900;
}


.sheet-input {
    text-align: center;
}

.sheet-hidden {
    display: none;
}

.sheet-subtext {
    font-size: $small;
}
