.sheet-character{
    label {
        font-size: $large;
    }   
}


.sheet-row-flex {
    display: flex;

    &.sheet-space-around {
        justify-content: space-around;
    }
}


.sheet-divider {
    margin: 0 0.5rem;
    font-size: $xLarge;
    font-weight: 900;
}


.sheet-input {
    text-align: center;
}

.sheet-hidden {
    display: none;
}

.sheet-subtext {
    font-size: $small;
}

.sheet-bubble {
    padding: 2rem;
    border: solid 3px $black;
    border-radius: 2rem;
    font-size: $medium;
    margin-right: $gap;
    margin-bottom: $gap;

    display: flex;
    align-items: center;

    label {
        text-align: center;
    }

    .sheet-content {
        width: 100%;
    }
}
