/**
* Styles applied globally to elements
*/

h2 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
}

h3 {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 3px;
}



input {
    width: 100%;
}




// label{
//     font-weight: 700;
//     display: block;
//     margin-bottom: 5px;

//     &.sheet-znz-small{
//         font-size: 12px;
//         font-weight: 700;
//         margin-bottom: 3px;
//     }
// }



// .sheet-divider{
//     font-size: 16px;
//     margin: 0 6px;
//     font-weight: 900;
// }

// .sheet-pseudo-divider{
//     height: 100%;
//     position: relative;
//     width: 20px;
//     margin-right: 30px;

//     &:after{
//         content:'';
//         position: absolute;
//         width: 100%;
//         height: 40%;
//         bottom: 10%;
//         border-left: solid 2px $black;
//         transform:  rotate(30deg);
//     }
// }




// .sheet-znz-description-text {
//     font-size: 10px;
// }


// .sheet-znz-spaced-between{
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 5px;
// }


// .sheet-znz-reduced-height,
// .sheet-znz-note{
//     height: 50px;
// }

 


