input, textarea {
    width: 100%;
}

input {
    transition: 0.3s;
    font-size: 1.6rem;

    &.sheet-number {
        width: 4rem;
        text-align: center;
    }

    &.centered {
        text-align: center;
    }

    
    &.sheet-shy, .shy {
        border: none;
    }

    &:hover {
        background-color: $lightblue;
    }

    &.halved {
        width: 50%!important;
    }
    
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button{
        -webkit-appearance: none; /* Chrome */
        margin: 0; /* Apparently some margin are still there even though it's hidden */
    }
    &[type=number]{
        -moz-appearance:textfield; /* Firefox */
    }

}


select {
    width: 100%;
    border: none;
    transition: 0.3s;
    border-bottom: solid 1px $gray;
    border-radius: none;

    &:hover, &:focus {
        background-color: $lightblue;
    }

    &.sheet-shy {
        border: none;
        appearance: none;
    }
}


textarea {
    box-sizing: border-box;
    
    &.sheet-shy {
        resize: none;
        border: none;
    }

    &.sheet-small {
        height: 3rem;
    }

    &.sheet-vertical {
        resize: vertical;
    }
}


// Line input
.sheet-line, .line-input {
    display: flex;
    justify-content: space-around;

    .sheet-label {
        font-size: $medium;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-weight: 500;
    }

    input {
        border: none;
        border-bottom: solid 1px $darkgray;
        border-radius: 0;
    }
}


// Max Input
.sheet-max {
    display: flex;
    justify-content: center;
    align-items: center;
}


// Dice Input
.sheet-dice-input {
    font-size: $large;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        display: inline-block;
        vertical-align: middle;
    }

    input {
        font-size: $large;
        width: 3.5rem;
        text-align: left;

        &.sheet-amount {
            text-align: right;
        }
    }
}


//list
.sheet-list {
    .sheet-line {
        .sheet-label {
            text-align: left;
            width: 100%;
            margin-right: 1rem;
        }
    }
}


.btn-radiobutton-row {
    display: flex;

    .btn-radiobutton {
        &:not(:last-child){
            margin-right: 0.5rem;
        }
    }

}

.btn-radiobutton {
    position: relative;

    input.btn-radiobutton-input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        width: 100%;
        height: 100%;

        &:checked {
            & + .btn-radiobutton-label{
                background-color: $red;
                color: $white;
            }
        }
    }
    
    .btn-radiobutton-label {
        padding: 0.2rem 0.6rem;
        font-size: $medium;
        border: solid 1px $black;
        border-radius: 0.6rem;
        background-color: $lightgray;
    }
}