input, textarea {
    width: 100%;
}

input {
    transition: 0.3s;
    font-size: 1.6rem;

    &.sheet-number {
        width: 4rem;
        text-align: center;
    }

    
    &.sheet-shy {
        border: none;
    }

    &:hover {
        background-color: $lightblue;
    }

    
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button{
        -webkit-appearance: none; /* Chrome */
        margin: 0; /* Apparently some margin are still there even though it's hidden */
    }
    &[type=number]{
        -moz-appearance:textfield; /* Firefox */
    }
}


select {
    width: 100%;
    border: none;
    transition: 0.3s;
    border-bottom: solid 1px $gray;
    border-radius: none;

    &:hover, &:focus {
        background-color: $lightblue;
    }

    &.sheet-shy {
        border: none;
        appearance: none;
    }
}


textarea {
    &.sheet-shy {
        resize: none;
        border: none;
    }

    &.sheet-small {
        height: 3rem;
    }

    &.sheet-vertical {
        resize: vertical;
    }
}


// Line input
.sheet-line {
    display: flex;
    justify-content: space-around;

    .sheet-label {
        font-size: $medium;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-weight: 500;
    }

    input {
        border: none;
        border-bottom: solid 1px $darkgray;
        border-radius: 0;
    }
}


// Max Input
.sheet-max {
    display: flex;
    justify-content: center;
    align-items: center;
}


// Dice Input
.sheet-dice-input {
    font-size: $large;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        display: inline-block;
        vertical-align: middle;
    }

    input {
        font-size: $large;
        width: 3.5rem;
        text-align: left;

        &.sheet-amount {
            text-align: right;
        }
    }
}


//toggle-select
.sheet-toggle-select {
    .sheet-toggler {
        margin-right: 2rem;
        flex-basis: 35%;
    }

    .sheet-text {
        flex-basis:65%;
    }
}


//list
.sheet-list {
    .sheet-line {
        .sheet-label {
            text-align: left;
            width: 100%;
            margin-right: 1rem;
        }
    }
}
