.sheet-znz-area-inventory {
    margin: (2 * $gridgap) 0;

    
    .sheet-znz-section-inventory {
        border: solid 1px $lightgray;
        padding: 2 * $gridgap;
        
        > h2 {
            font-size: 16px;
            display: inline-block;
        }

        .sheet-znz-inventory-controls {
            float: right;
        }
        
        .sheet-znz-inventory-weight {
            display: flex;
            justify-content: center;

            .sheet-znz-field {
                width: 25%;
                text-align: center;

                input {
                    display: block;
                    margin: auto;
                    width: 75px;
                }
            }
        }
        
        /** CSS Only Masonry Grid - https://tobiasahlin.com/blog/masonry-with-css/ **/
        .sheet-znz-inventory-items {
            display: flex;
            flex-direction: column;

            .sheet-znz-item-card-inventory {
                border: solid 1px $black;
            }

            .repcontrol {
                order: 1;
                margin-bottom: 15px;
            }

            .repcontainer {
                order: 2;
                display: flex;
                flex-flow: column wrap;
                align-content: space-between;
                height: 2050px;

                .repitem {
                    width: 32%;
                    margin-bottom: 2%;

                    &:nth-child(3n+1){ order: 1;}
                    &:nth-child(3n+2){ order: 2;}
                    &:nth-child(3n){ order: 3;}
                }

                &::before,
                &::after {
                    content: "";
                    flex-basis: 100%;
                    width: 0;
                    order: 2;
                }
            }
        }
    }
}
