/**
* Styling for item cards, Inventory, and Equipped Items
*/ 
.sheet-znz-itemcard {
    border: solid 1px $lightgray;
    padding: $gridgap;

    .sheet-znz-itemcard-note {
      height: auto;

        textarea {
            height: 50px;
            max-width: 100%;
        }
    }

    .sheet-znz-row {
        .sheet-znz-field {
            &:nth-child(2) {
                text-align: right;
                margin-left: auto;
            }
        }
    }

    .sheet-znz-weapon-attack {
        flex-basis: 60%;

        input[type=number] {
            width: 40px;
        }

        .sheet-znz-prefixed-input {
            input[type=number] {
                width: 35px;
            }
        }
    }

    .sheet-znz-itemcard-modifiers {
        select, input {
            margin: 0;
        }

        input[type=number] {
            width: 35px;
        }

        .sheet-znz-field {
            margin-bottom: 10px;
        }
    }

    .sheet-znz-itemcard-button {
        justify-content: center;
        
        button {
            padding: 2px 16px;
        }
    }
}


.sheet-znz-equipped-ranged {
    .sheet-znz-itemcard {
        .sheet-znz-itemcard-melee-fields,
        .sheet-znz-itemcard-misc-fields,
        .sheet-znz-itemcard-equipment-fields {
            display: none;
        }
    }
}

.sheet-znz-equipped-melee {
    .sheet-znz-itemcard {
        .sheet-znz-itemcard-ranged-fields,
        .sheet-znz-itemcard-misc-fields,
        .sheet-znz-itemcard-equipment-fields {
            display: none;
        }
    }
}

// .sheet-znz-section-inventory {
//   .sheet-znz-inventory-type-fields {
//     display: none;
//   }

//   input.sheet-znz-item-type-1:checked ~ .sheet-znz-inventory-item-misc-fields,
//   input.sheet-znz-item-type-2:checked ~ .sheet-znz-inventory-item-melee-fields,
//   input.sheet-znz-item-type-3:checked ~ .sheet-znz-inventory-item-ranged-fields,
//   input.sheet-znz-item-type-4:checked ~ .sheet-znz-inventory-item-equipment-fields {
//     display: block;
//   }

//   .sheet-znz-unified-inventory {
//     .sheet-znz-inventory-item-type-select {
//       width: auto;
//     }

//     > .repcontainer {
//       display: grid;
//       grid-gap: 10px;
//       grid-template-columns: repeat(2, 1fr);
//     }

//     .sheet-znz-note {
//       height: auto;

//       textarea {
//         max-width: 100%;
//       }
//     }

//     .sheet-znz-header {
//       .sheet-znz-inventory-controls {
//         margin-left: auto;
//         margin-bottom: 3px;
//       }
//     }
//   }
// }
