

.sheet-znz-block-item{
    .sheet-znz-header {
        border-bottom: solid 2px $black;
        padding: 0;
        margin-bottom: 20px;
    }

    .sheet-znz-item {
        border: solid 1px lightgray;
        padding: 8px; 
        margin-bottom: 2 *$fieldBottom;

        label {
            padding: 0;
        }

        textarea {
            box-sizing: border-box;
        }


        .sheet-znz-item-row{
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
        }


        .sheet-znz-item-field-row{
            display: flex;
            justify-content: space-between;

            input {
                margin-bottom: 2px;
            }

            .sheet-znz-description-text{
                text-align: center;
            }

            .sheet-znz-field-item-name {
                flex: 75%;
            }
        }

        .sheet-znz-item-field-label{
            font-weight: 700;
        }

        .sheet-znz-field-item-name{
            margin-bottom: 15px;
        }
    }
}