/**
* Overall layout for the sheet
*/

.sheet-znz-character-sheet {
    .sheet-header {
        display: flex;
    }

    .sheet-sidebar-layout {
        display: grid;
        grid-template-columns: repeat(12, minmax(50px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: $gridgap * 2;

        .sheet-sidebar {
            grid-column: 1;
            grid-column-end: 6
        }
    }
}