/**
* Overall layout for the sheet
*/

.sheet-znz-character-sheet {
    
    &.sheet-znz-grid-layout {
        display: grid;
        grid-template-columns: 
            [col1] 1fr
            [col2] 1fr
            [col3] 1fr
            [col4] 1fr
            [col5] 1fr
            [col6] 1fr;
        grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: $gridgap * 2;

        grid-template-areas:
            "name name stat stat stat stat"
            "attr attr weapon weapon weapon weapon"
            "attr attr weapon weapon weapon weapon"
            "attr attr weapon weapon weapon weapon"
            "attr attr weapon weapon weapon weapon"
            "skills prof weapon weapon weapon weapon"
            "skills prof weapon weapon weapon weapon"
            "skills prof weapon weapon weapon weapon"
            "skills prof helmet helmet helmet helmet"
            "skills prof armor armor armor armor"
            "inventory inventory inventory inventory inventory inventory"
            "inventory inventory inventory inventory inventory inventory"
            "notes notes notes notes notes notes"

        ;

    }

    .sheet-znz-area-name {
        grid-area: name;
    }

    .sheet-znz-area-status {
        grid-area: stat;
        margin-left: 30px;
    }

    .sheet-znz-area-attributes {
        grid-area: attr;
    }

    .sheet-znz-area-equipped-weapon {
        grid-area: weapon;
        display: flex;

        .sheet-znz-section {
            width: 50%;
        }
    }

    .sheet-znz-area-skills {
        grid-area: skills;
    }

    .sheet-znz-area-prof {
        grid-area: prof;
    }

    .sheet-znz-area-equipped-helmet {
        grid-area: helmet;
    }

    .sheet-znz-area-equipped-armor {
        grid-area: armor;

    }
}

.sheet-znz-area-equipped-helmet,
.sheet-znz-area-equipped-armor
{
    border: solid 2px $black;
}