

/*** For hiding fields based on type in item cards **/
@mixin hideFieldForType($type){
    .sheet-slot-section-#{$type}{

        .sheet-only-#{$type}{
            display: block;
        }

        [class*='sheet-only-']{
            display: none;

        }
    }


}

@mixin hideSubType($type, $subtype){
    .sheet-hide-#{$type}{
        &:checked {
            ~ .sheet-hide-subtype-#{$subtype}{
                .sheet-only-#{$type}.sheet-only-#{$subtype}{
                    display: block;
                }
            }
        }
    }


    .sheet-only-#{$type}.sheet-only-#{$subtype}{
        display: none;
    }
}