/*** Row Layout System for ZnZ ***/


// Data and fields should go into a field class
.sheet-znz-field {
    margin-bottom: $fieldBottom;
    width: 100%;

    .sheet-znz-description {
        margin-top: 3px;
        font-size: $small;
    }
}


// Horizontally lay out fields
.sheet-znz-row {
    display: flex;
    margin-bottom: $fieldBottom;
    justify-content: space-between;

    .sheet-znz-field {

        &.sheet-right {
            text-align:right;
            
            input {
                display: block;
                margin-left: auto;
            }
        }

        &.sheet-center {
            text-align: center;
        }

        &.sheet-0 {
            flex-basis: 0;
        }

        &.sheet-15 {
            flex-basis: 15%;
        }
        
        &.sheet-25 {
            flex-basis: 25%;
        }

        &.sheet-33 {
            flex-basis: 33%;
        }

        &.sheet-40 {
            flex-basis: 40%;
        }

        &.sheet-50 {
            flex-basis: 50%;
        }

        &.sheet-60 {
            flex-basis: 60%;
        }

        &.sheet-75 {
            flex-basis: 75%;
        }

        &.sheet-full {
            flex: 1 1 100%;
        }

        select {
            width: auto;
        }
    }

    .sheet-znz-inner-row {
        display: flex;
        align-items: baseline;
    }
}
