.sheet-znz-area{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.sheet-znz-area-unflexed{
    margin-bottom: 25px;
}

/********** NAME  - STATUS *********/
.sheet-znz-section-name{
    flex: 30%;
}

.sheet-znz-section-status{
    flex: 70%;
}


/********* Attrib - Equipped **********/

.sheet-znz-section-attributes{
    flex: 30%;
    margin-right: 25px;
}

.sheet-znz-equipment{
    flex: 70%;
}




/********* Abilities and Skills and Proficiency and Flaws**********/
.sheet-znz-section-abilities, .sheet-znz-section-flaws{
    flex: 60%;
    margin-left: 20px;
}

.sheet-znz-section-skills, .sheet-znz-section-proficiency{
    flex: 40%;
}




/*** Inventory ***/
.sheet-znz-section-inventory{
    border: solid 2px $black;
    padding: 8px;

    > label{
        width: 100%;
    }

    .sheet-znz-inventory-info{
        margin-bottom: 12px;

        .sheet-znz-hidden-weight-check[value="1"] ~ .sheet-znz-weight-check{
            color: red;
        }
    }

    .sheet-znz-block-wrapper{
        display: flex;
    }

    .sheet-znz-block-item{
        padding: 6px;
        flex: 27.5%;

        &:nth-child(2){
            margin: 0 10px;
        }

        &:last-child{
            flex: 45%;
        }
    }
}




/*** Equipment **/
.sheet-znz-equipment{
    flex:70%;

    .sheet-znz-section-equipped-weapons{
        .sheet-znz-block-equipped {
            display: flex;
            
            .sheet-znz-block-item{
                flex: 35%;
            }
        }

    }
    
    .sheet-znz-section-other-equipment{
        margin-top: 10px;
        padding: 5px;
    }
}