//Stat Row
.sheet-znz-area-status {
    > .sheet-znz-row {
        margin: 0;
        align-items: flex-start;
        height: 100%;
    }
}

.sheet-znz-stat-block {
    text-align: center;
    
    h2 {
        font-size: $xLarge;
    }
    
    input {
        font-size: $large;
    }

    .sheet-znz-description {
        font-size: $regular;
        margin-top: 2px;
        
        span {
            font-weight: 700;
        }
    }

    .sheet-znz-max {
        font-size: $regular;
    }
}