
// IN SECTION
.sheet-znz-section-status{
    display: flex;
    padding: 0 15px;
    align-items: flex-start;
    justify-content: space-between;

    .sheet-znz-block-stat{
        margin: 0 25px;

        &:last-child{
            margin-right: 0px;
        }
    }
}


// INDIVIDUAL
.sheet-znz-block-stat{
    input{
        padding: 8px;
        font-size: 18px;
        margin-bottom: 2px;
    }

    .sheet-znz-label-text{
        margin-top: 2px;
        font-size: 14px;

        .sheet-znz-stat-max-text{
            font-weight: 700;
        }

        .sheet-znz-text-subtitle {
            display: flex;

        }
    }
}