/**
* Variables used throughout styles
*/

//gaps
$gridgap: 10px;
$fieldBottom: 8px;


//colors
$gray: gray;
$lightgray: lightgray;
$black: black;


//font-sizing
$small: 9px;
$regular: 11px;
$large: 13px;
$xLarge: 16px;



