/**
* Variables used throughout styles
*/

$gap: 2rem; 

//colors
$gray: #d3d3d3;
$lightgray: #f5f5f5;
$darkgray: #a0a0a0;
$black: black;
$white: white;
$orange: darkorange;
$lightblue: #e5fffb;
$focus-blue: #5E9ED6;

$green: darkgreen;
$red: red;


//font-sizing
$xSmall: 1rem;
$small: 1.2rem;
$medium: 1.4rem;
$large: 1.8rem;
$xLarge: 2.2rem;


//built-in Roll20 Fonts
$shadows: "Shadows Into Light", cursive;
$patrick: "Patrick Hand";
$contrail: "Contrail One";
$candal: "Candal";


//Dice Fonts
$d6: 'dicefontd6';
$d8: 'dicefontd8';

//Fonts
$helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;
