.sheet-znz-area{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.sheet-znz-area-unflexed{
    margin-bottom: 25px;
}

label, .sheet-znz-label-text{
    font-weight: 700;
    display: block;
}

label {
    margin-bottom: 5px;
}

.sheet-divider{
    font-size: 28px;
    margin: 0 6px;
}


//NAME
.sheet-znz-section-name{
    flex: 30%;
    input{
        width: 100%;
    }

    .sheet-znz-block-name{
        margin-bottom: 10px;
    }
}
    
//STATUS
.sheet-znz-section-status{
    flex: 70%;
    display: flex;
    padding: 0 15px;
    align-items: center;

    .sheet-znz-block{
        margin: 0 25px;

        input{
            padding: 5px;
            font-size: 18px;
        }

        label{
            text-align: center;
        }

        &:last-child{
            margin-right: 0px;
        }
    }
}


//ATTRIBUTES
.sheet-znz-section-attributes{
    flex: 30%;
    margin-right: 25px;

    table{
        width: 100%;
        td{
            padding: 10px 5px;
        }

        tr{
            border-top: thin solid;
            border-bottom: thin solid;
            border-color: lightgrey;

            &:first-child{
                border: none;
            }
        }
    }

    .sheet-znz-total-attrs{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .sheet-attrib-description{
        font-size: 10px;
    }

    .sheet-znz-attr-bonus{
        width: 50px;
    }
}


//EQUIPMENT
.sheet-znz-equipment{
    flex: 70%;

    .sheet-znz-section-equipped-weapons{
        .sheet-znz-block-equipped {
            display: flex;
            .sheet-znz-block-ranged, .sheet-znz-block-melee{
                flex: 35%;
    
                .sheet-znz-weapon-stats{
                    border: solid 1px black;
                    padding: 10px;
                    min-height: 100px;
    
                    .sheet-znz-weapon-stat-row{
                        display: flex;
                        margin-bottom: 15px;
    
                        label{
                            flex: 25%;
                        } 
    
                        textarea{
                            flex: 50%;
                        }
    
                        .sheet-weapon-current{
                            margin-right: 10px;
                        }
    
                        .sheet-weapon-max{
                            margin-left: 10px;
                        }
                    }
                }
            }
    
            .sheet-znz-block-ranged{
                margin-right: 20px;
            }
        }
    }

    .sheet-znz-section-other-equipment{
        margin-top: 10px;
        padding: 5px;
    }
}


//SKILLS
.sheet-znz-section-skills{
    flex: 50%;
    margin-right: 10px;
    
    
    .sheet-znz-block-skill{
        display: flex;
        padding: 10px 0;
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
        
        label {
            font-size: 14px;
            font-weight: 300;
        }

        .sheet-znz-label-custom-skill{
            align-self: center;
        }

        .sheet-znz-field-custom-skill-toggle{
            align-self: center;
            margin: 0 25px 0 5px;
        }

        .sheet-znz-field-skill-custom, .sheet-znz-field-skill-select{
            flex: 30%;
            margin-right: 10px;

            select, input {
                max-width: 180px;
            }
        }
        
        .sheet-znz-field-skill-custom{
            display: none;
        }

        .sheet-znz-field-custom-skill-toggle:checked ~ .sheet-znz-field-skill-custom{
            display: block;
        }

        .sheet-znz-field-custom-skill-toggle:checked ~ .sheet-znz-field-skill-select{
            display: none;
        }

        .sheet-znz-field-skill-bonus{
            flex: 10%;
        }

    }

}


//ABILITY
.sheet-znz-section-abilities{
    flex: 50%;
    margin-left: 10px;

    .sheet-znz-block-ability{
        padding: 12px 0;
        border-top: solid 1px lightgrey;
        border-bottom: solid 1px lightgrey;
    }
}


//INVENTORY
.sheet-znz-section-inventory{
    display: flex;
    width: 100%;
    border: solid 1px black;
    padding: 10px;
    
    > label{
        width: 100%;
    }

    [class^="sheet-znz-block-"]{
        padding: 8px;
        border: solid 1px lightgray;
        flex: 33%;

        &:nth-child(2){
            margin: 0 10px;
        }

    }
}
