@import "variables";

@import "mixins";
@import "layout";
@import "general";
@import "input";

@import "elements/bubble";
@import "elements/slots";
@import "elements/card";
@import "elements/switch";

@import "sections/header";
@import "sections/items";

@import "rolltemplate/combat";

// sets 1rem = 10px
.sheet-character {
    font-size: 10px;
    font-family: $helvetica;
}