/**
* Variables used throughout styles
*/
/**
* Styles applied globally to elements
*/
h2 {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 5px; }

h3 {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 3px; }

.sheet-znz-character-sheet {
  font-size: 11px; }

input {
  width: 100%;
  font-size: 11px;
  line-height: 11px; }

textarea {
  max-width: 100%;
  box-sizing: border-box; }

/**
* Reusable classes and elements across the sheet. 
*/
.sheet-znz-center {
  text-align: center; }

.sheet-znz-hidden {
  display: none; }

.sheet-znz-flex {
  display: flex; }

.sheet-znz-description {
  margin-top: 3px;
  font-size: 9px; }

.sheet-znz-prefixed-input span {
  border: 1px #ccc solid;
  border-radius: 3px;
  padding: 4px;
  color: #555;
  font-weight: normal;
  vertical-align: middle;
  display: inline-block; }
  .sheet-znz-prefixed-input span input {
    border: none;
    padding: 0;
    margin: 0;
    vertical-align: auto; }

.sheet-divider {
  font-size: 13px;
  margin: 0 6px;
  font-weight: 900; }

.sheet-znz-note-tiny textarea {
  height: 30px; }

.sheet-znz-note-small textarea {
  height: 50px; }

input.sheet-znz-line-input {
  margin: 0;
  border: 0;
  padding: 2px;
  border-bottom: 1px solid gray;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.sheet-znz-dice-field input[type=text] {
  width: 75px; }

/**
* Overall layout for the sheet
*/
.sheet-znz-character-sheet.sheet-znz-layout {
  display: flex; }

.sheet-znz-character-sheet.sheet-znz-grid-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 20px; }

.sheet-znz-character-sheet .sheet-znz-grid-sidebar {
  grid-column: 1;
  grid-column-end: 6; }

.sheet-znz-character-sheet .sheet-znz-grid-main {
  grid-column-start: 6;
  grid-column-end: span 12; }

.sheet-znz-character-sheet .sheet-znz-grid-full-width {
  grid-column-start: 1;
  grid-column-end: 12; }

/*** Row Layout System for ZnZ ***/
.sheet-znz-field {
  margin-bottom: 8px;
  width: 100%; }
  .sheet-znz-field .sheet-znz-description {
    margin-top: 3px;
    font-size: 9px; }

.sheet-znz-row {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between; }
  .sheet-znz-row.sheet-znz-centered {
    justify-content: space-around; }
  .sheet-znz-row.sheet-znz-v-center {
    align-items: center; }
  .sheet-znz-row.sheet-znz-no-margin {
    margin-bottom: 0; }
    .sheet-znz-row.sheet-znz-no-margin input, .sheet-znz-row.sheet-znz-no-margin select {
      margin-bottom: 0; }
  .sheet-znz-row.sheet-znz-reduce-margin {
    margin-bottom: 2px; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-0 {
    flex-basis: 0; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-15 {
    flex-basis: 15%; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-25 {
    flex-basis: 25%; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-33 {
    flex-basis: 33%; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-40 {
    flex-basis: 40%; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-50 {
    flex-basis: 50%; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-60 {
    flex-basis: 60%; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-75 {
    flex-basis: 75%; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-full {
    flex: 1 1 100%; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-right input {
    display: block;
    margin-left: auto; }
  .sheet-znz-row .sheet-znz-field.sheet-znz-right label {
    text-align: right; }
  .sheet-znz-row .sheet-znz-field select {
    width: auto; }
  .sheet-znz-row .sheet-znz-description-text {
    text-align: center;
    margin-top: -7px; }
  .sheet-znz-row .sheet-znz-inner-row {
    display: flex;
    align-items: baseline; }
    .sheet-znz-row .sheet-znz-inner-row.sheet-znz-no-align {
      align-items: initial; }

/**
* Section specific styles
*/
.sheet-znz-area-name h2 {
  font-size: 16px; }

.sheet-znz-section-attributes {
  margin-bottom: 16px; }

.sheet-znz-area-counter {
  font-size: 10px; }
  .sheet-znz-area-counter h2, .sheet-znz-area-counter h3 {
    font-size: 10px; }
  .sheet-znz-area-counter .sheet-znz-counter-label {
    margin-right: 8px; }

.sheet-znz-area-status > .sheet-znz-row {
  margin: 0;
  align-items: flex-start;
  height: 100%; }

.sheet-znz-stat-block {
  text-align: center; }
  .sheet-znz-stat-block h2 {
    font-size: 16px; }
  .sheet-znz-stat-block input {
    font-size: 13px; }
  .sheet-znz-stat-block .sheet-znz-description {
    font-size: 11px;
    margin-top: 2px; }
    .sheet-znz-stat-block .sheet-znz-description span {
      font-weight: 700; }
  .sheet-znz-stat-block .sheet-znz-max {
    font-size: 11px; }

table.sheet-znz-row-table {
  width: 100%; }
  table.sheet-znz-row-table td {
    padding: 10px 5px; }
    table.sheet-znz-row-table td .sheet-znz-attr-mod {
      display: flex;
      align-items: center; }
      table.sheet-znz-row-table td .sheet-znz-attr-mod input {
        width: 30px;
        margin-right: 5px; }
  table.sheet-znz-row-table tr {
    border-top: thin solid;
    border-bottom: thin solid;
    border-color: lightgrey; }
    table.sheet-znz-row-table tr.sheet-znz-header {
      border: none; }
    table.sheet-znz-row-table tr:last-child {
      border-bottom: none; }

.sheet-znz-skill-table {
  width: 100%; }
  .sheet-znz-skill-table tr {
    margin-bottom: 2px; }
    .sheet-znz-skill-table tr.sheet-znz-header {
      border-bottom: solid 1px black; }
    .sheet-znz-skill-table tr td {
      vertical-align: bottom; }
      .sheet-znz-skill-table tr td .sheet-znz-line-input {
        padding: 0;
        margin-bottom: 4px;
        margin-right: 3px; }
      .sheet-znz-skill-table tr td.sheet-znz-input {
        text-align: right; }

.sheet-znz-section-skills {
  display: flex; }
  .sheet-znz-section-skills h2 {
    text-align: center;
    border-bottom: solid 1px black;
    padding-bottom: 5px; }
  .sheet-znz-section-skills .sheet-znz-block {
    width: 50%;
    flex: 50%; }

.sheet-znz-skill-select .sheet-znz-skill {
  margin-bottom: 2px;
  display: flex;
  justify-content: start; }
  .sheet-znz-skill-select .sheet-znz-skill .sheet-znz-input {
    margin: 0 3px 3px 0; }
  .sheet-znz-skill-select .sheet-znz-skill .sheet-znz-label {
    display: flex;
    align-items: flex-end; }
  .sheet-znz-skill-select .sheet-znz-skill .sheet-znz-mod {
    margin-left: 2px;
    font-size: 9px; }

/**
* Styling for item cards, Inventory, and Equipped Items
*/
[class^='sheet-znz-item-card'] {
  border: solid 1px lightgray;
  padding: 10px; }
  [class^='sheet-znz-item-card'] textarea {
    height: 28px;
    max-width: 100%; }
  [class^='sheet-znz-item-card'] .sheet-znz-item-row-area {
    margin-bottom: 12px;
    padding: 0 15px; }
    [class^='sheet-znz-item-card'] .sheet-znz-item-row-area input, [class^='sheet-znz-item-card'] .sheet-znz-item-row-area select {
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      border-bottom: solid 1px lightgray;
      text-align: center; }
  [class^='sheet-znz-item-card'] .sheet-znz-item-row {
    display: flex;
    justify-content: space-around;
    font-size: 11px; }
    [class^='sheet-znz-item-card'] .sheet-znz-item-row h2, [class^='sheet-znz-item-card'] .sheet-znz-item-row h3 {
      margin-bottom: 0;
      font-size: 11px; }
    [class^='sheet-znz-item-card'] .sheet-znz-item-row .sheet-znz-field-label {
      text-align: right;
      margin-right: 8px;
      width: 50%; }
    [class^='sheet-znz-item-card'] .sheet-znz-item-row.sheet-znz-field-select .sheet-znz-field-label {
      align-self: center; }
    [class^='sheet-znz-item-card'] .sheet-znz-item-row .sheet-znz-field-input {
      width: 50%; }
    [class^='sheet-znz-item-card'] .sheet-znz-item-row select {
      max-width: 100%; }
  [class^='sheet-znz-item-card'] .sheet-znz-equipment-stat-repeater {
    margin: 12px 0; }
    [class^='sheet-znz-item-card'] .sheet-znz-equipment-stat-repeater .sheet-znz-repeater-label {
      font-size: 11px;
      width: 50%;
      text-align: center; }
    [class^='sheet-znz-item-card'] .sheet-znz-equipment-stat-repeater .sheet-znz-repeater-input {
      display: flex;
      justify-content: space-around; }
      [class^='sheet-znz-item-card'] .sheet-znz-equipment-stat-repeater .sheet-znz-repeater-input select {
        width: 120px; }
      [class^='sheet-znz-item-card'] .sheet-znz-equipment-stat-repeater .sheet-znz-repeater-input .sheet-znz-equipment-stat {
        margin-right: 12px; }
      [class^='sheet-znz-item-card'] .sheet-znz-equipment-stat-repeater .sheet-znz-repeater-input .sheet-znz-equipment-stat-mod {
        align-self: flex-end;
        margin-bottom: -1px; }
  [class^='sheet-znz-item-card'] .sheet-znz-item-buttons {
    display: flex;
    justify-content: space-around; }

.sheet-znz-itemcard {
  border: solid 1px lightgray;
  padding: 10px; }
  .sheet-znz-itemcard .sheet-znz-itemcard-note {
    height: auto; }
    .sheet-znz-itemcard .sheet-znz-itemcard-note textarea {
      height: 50px;
      max-width: 100%; }
  .sheet-znz-itemcard .sheet-znz-row .sheet-znz-field:nth-child(2) {
    text-align: right;
    margin-left: auto; }
  .sheet-znz-itemcard .sheet-znz-weapon-attack {
    flex-basis: 60%; }
    .sheet-znz-itemcard .sheet-znz-weapon-attack input[type=number] {
      width: 40px; }
    .sheet-znz-itemcard .sheet-znz-weapon-attack .sheet-znz-prefixed-input input[type=number] {
      width: 35px; }
  .sheet-znz-itemcard .sheet-znz-itemcard-modifiers select, .sheet-znz-itemcard .sheet-znz-itemcard-modifiers input {
    margin: 0; }
  .sheet-znz-itemcard .sheet-znz-itemcard-modifiers input[type=number] {
    width: 35px; }
  .sheet-znz-itemcard .sheet-znz-itemcard-modifiers .sheet-znz-field {
    margin-bottom: 10px; }
  .sheet-znz-itemcard .sheet-znz-itemcard-button {
    justify-content: center; }
    .sheet-znz-itemcard .sheet-znz-itemcard-button button {
      padding: 2px 16px; }

.sheet-znz-equipped {
  display: flex;
  margin-bottom: 16px; }
  .sheet-znz-equipped .sheet-znz-block {
    width: 50%; }
  .sheet-znz-equipped h2 {
    text-align: center; }
  .sheet-znz-equipped .sheet-znz-itemcard .sheet-znz-field {
    flex-basis: 45%; }
    .sheet-znz-equipped .sheet-znz-itemcard .sheet-znz-field.sheet-znz-itemcard-name {
      margin: 0;
      text-align: left; }

.sheet-znz-equipped-ranged .sheet-znz-itemcard .sheet-znz-itemcard-melee-fields,
.sheet-znz-equipped-ranged .sheet-znz-itemcard .sheet-znz-itemcard-misc-fields,
.sheet-znz-equipped-ranged .sheet-znz-itemcard .sheet-znz-itemcard-equipment-fields {
  display: none; }

.sheet-znz-equipped-melee .sheet-znz-itemcard .sheet-znz-itemcard-ranged-fields,
.sheet-znz-equipped-melee .sheet-znz-itemcard .sheet-znz-itemcard-misc-fields,
.sheet-znz-equipped-melee .sheet-znz-itemcard .sheet-znz-itemcard-equipment-fields {
  display: none; }

.sheet-znz-equipped-head .sheet-znz-itemcard .sheet-znz-itemcard-weapon-fields,
.sheet-znz-equipped-head .sheet-znz-itemcard .sheet-znz-itemcard-ranged-fields,
.sheet-znz-equipped-head .sheet-znz-itemcard .sheet-znz-itemcard-melee-fields,
.sheet-znz-equipped-head .sheet-znz-itemcard .sheet-znz-itemcard-misc-fields, .sheet-znz-equipped-body .sheet-znz-itemcard .sheet-znz-itemcard-weapon-fields,
.sheet-znz-equipped-body .sheet-znz-itemcard .sheet-znz-itemcard-ranged-fields,
.sheet-znz-equipped-body .sheet-znz-itemcard .sheet-znz-itemcard-melee-fields,
.sheet-znz-equipped-body .sheet-znz-itemcard .sheet-znz-itemcard-misc-fields {
  display: none; }
